/* advanced search*/

#advanced-search {
  .btn {
    font-size: 1rem;
  }

  h2 {
    margin: 0 0 1.3rem;
    padding: 0;
    font-size: 1.3rem;
    color: #0e1316;
    font-weight: 600;
  }

  h2.as-label-inline {
    margin-right: 1.5rem
  }

  .form-control {
    border-radius: 0;
  }

  .as-field {
    margin: 1rem 0;
    border: 1px solid #e6e6e6;
    background: #fafafa;
    padding: 1rem 1rem 0.2rem;
  }

  div.dropdown {
    display: inline-block;
  }

  .btn-as-scope {
    border-bottom: 0
  }

  .btn-as-operators {
    background: #fff;
  }

  .btn-as-operators-service {
    margin-bottom: 1rem;
  }

  .btn-as-plus,
  .btn-as-operators {
    margin-right: calc(var(--bs-gutter-x) * .5) ;
  }

  .btn-as-plus,
  .btn-as-remove,
  .btn-as-date-period,
  .btn-as-date-exacte {
    border-color: #6c757d;
    color: #0e1316;
    background-color: #fff;
  }

  .btn-as-refresh,
  .btn-as-operators-service,
  .btn-as-operators,
  .btn-as-scope,
  .btn-as-date-period.active,
  .btn-as-date-exacte.active {
    border-color: #6c757d;
    color: #0e1316;
    background-color: #e6e6e6;
  }

  .btn-as-send {
    border: 1px solid #0d4e96;
    color: #fff;
    background-color: #0d4e96;
    margin-right: 0.8rem !important;
  }

  .btn-as-send:hover {
    border: 1px solid #0d4e96;;
    color: #0d4e96;
    background-color: #fff;
  }

  .form-check.form-check-inline {
    margin-right: 1.5rem;
  }

  .form-check-input {
    width: 1.4rem;
    height: 1.4rem;
    line-height: 1.5rem;
    margin-top: 0.15em;
    margin-right: 0.5rem;
    border: 1px solid #989899;
  }

  .form-check-input:checked {
    background-color: #0d4e96;
  }

  .as-dates {
    margin-left: 0.8rem !important;
  }

  .invalid-feedback {
    bottom: 1.5rem;
    position: absolute;
    display: inline-block;
    padding-bottom: 1.7rem;
  }

  @media (max-width: 991px) {
    .input-group {
      display: block;
    }

    .input-group > * {
      margin-bottom: 1rem;
    }

    .as-dates {
      margin-left: 0 !important;
    }

    .as-date{
      position: absolute;
    }

    .invalid-feedback {
      position: relative;
      bottom: 0;
    padding-bottom: 0.375rem;
    }
  }

  button.close {
    padding: 0;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  .rbt.is-invalid input:focus{
    border: 1px solid #dc3545;
    box-shadow:0 0 0 .25rem rgba(220,53,69,.25);
  }

  /* close button */
  .rbt-aux {
    align-items: center;
    display: flex;
    bottom: 0;
    justify-content: center;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 2rem;
    border: 0 !important;
  }

  .rbt-aux .rbt-close {
    margin-top: -0.25rem;
    pointer-events: auto;
  }
}

