#facet-pniaancestorsfacetrenderer {
  & .facet__value div {
    display: flex;
    align-items: baseline;
  }
  & ul {
    padding-left: 1em;
  }
  & ul.children li {
    & a::before {
      content: '→ ';
      margin-left: -1.2em;
    }
    &:last-child a {
      border-bottom: none;
    }
  }
}

@mixin panel-facet {

}

@mixin panel-facet-header {
  cursor: pointer;
  margin-top: 1px;
  background-color: $less-light-grey;
  text-align: left;
  padding-top: 0.55em;
  padding-bottom: 0.55em;
  font-size: 1.3rem;
  line-height: 125%;

  span {
    color: $almost-black;
    font-weight: 600;
  }

  span.arrow::after{
    content: url('../images/big_arrow_black_01.svg');;
    transform: rotate(0deg);
    float: right;
    transition: transform .25s ease-in-out;
  }

  &.folded span::after {
    transform: rotate(0deg);
  }

  &.unfolded span::after{
    transform: rotate(-180deg);
  }
}

@mixin panel-facet-body {
  font-size: 1rem;
  display: none;
  background-color: $less-light-grey;

  ul {
    list-style-type: none;
    padding: 0.5em 0em;
    margin: 0 1em;
    border-top: 2px solid white;
  }

  li {
    padding: 0em;

    .facet__item_count {
        float: right;
      }

    a {
      font-weight: 400;
      color: black;
      display: block;
      width: calc(100% + 1em);
      padding: 0.2em 0.5em;
      margin-left: -0.5em;
      transition: background .1s, color .1s;

      &:hover {
        color: $dark-dodger-blue;
        background: $light-grey;
      }

    }

    .active {
      a {
        color: $royal-blue;
      }
    }

    .facet--active + .facet__item_count {
      color: $royal-blue;
    }

  }
}

.facet {
  margin-bottom: 0.5em;

  &__title {
    @include panel-facet-header;
    padding-left: 0.7em;
    padding-right: 0.7em;
  }

  &__body {
    @include panel-facet-body;
    padding-bottom: 0.5em;
  }

  &__noitems {
    padding: 1em 1em 0;
  }


  &__values {
    list-style-type: none;
    padding-left: 0px;

    a {
      padding: 0.25em 0em;
      display: block;
    }

    span.facet--nolink {
      padding: 0.5em 1em 0;
      color: #000000;
      display: inline-block;
    }

    .facet__value > a{
        font-weight: 400;
        font-family: "Open Sans";
    }

  }

  &__value--active {
    a {
      padding-left: 2em;
      font-weight: 400;
      i {
        color: $royal-blue;
      }
    }
  }

  &--active {
    color: $royal-blue;
  }

  &--deselect { color: $royal-blue; }
}

#fulltext-facet input {
  border: 2px solid #000;
  border-radius: 0;
  font-size: 1.1rem;
  height: auto;
  line-height: initial;
}


#date-facet {
  padding: 0.5em 0em;
  margin: 0 1em;
  border-top: 2px solid white;

  &__unknown-date #date-unknown-input{
    vertical-align: bottom;
  }

  &__unknown-date #date-unknown-input-label{
    display: inline;
    vertical-align: super;
  }

  &__dates_interval {
    margin-bottom: 0.5em;

    input.error {
      background: #ffdede;
      border-color: red;
      color: inherit;
      }

    label {
      font-weight: 700;
    }
  }

  &__dates_interval input {
    border: 2px solid #000;
    border-radius: 0;
    font-size: 1.1rem;
    max-width: 6rem;
    display: inline-block;
    margin: 0 1em;
    -moz-appearance: textfield; /* Firefox */
  }

  &__dates_interval input::-webkit-outer-spin-button,
  &__dates_interval input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &__dates_interval label {
    width: 3.5rem;
  }

  &__dates_interval_max,
  &__dates_interval_min {
    display: inline-block;
    margin-top: 0.5em;
  }
}

#date-unknown-input {
  display: inline-block;
  width: 10%;
  margin-left: 0;
  padding-left: 0;
  margin-right: 1em;
  width: 2em;
}

.cwjs-facet-title {
  display: block
}
