/* Font face & icon */

@font-face {
  font-family: 'Lovelo';
  src: url('../fonts/lovelo/Lovelo-Black.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.lovelo {
  font-family: $lovelo;
}
 