body #admin-panel ~ * > #foreground-navtools {
    width: calc(100% - 300px);
}

#foreground-navtools {
    width: 100%;

    .navtools {
        width: 100%;
        height: 144px;
        background: white;
        z-index: 50;

        @include if-narrower-than(lg) {
            height: 144px;
        }

        @include if-narrower-than(md) {
            height: 201px;
        }

        @media (max-width: 600px) {
            height: 250px;
        }
    }
}

#menu-panel-container {
    position: absolute;
    width: 100%;
    background: white;
    box-shadow: 0 0 20px black;
    z-index: 1002;
    top: 144px;
    @include if-narrower-than(md) {
        top: 200px;
    }

    @media (max-width: 600px) {
        top: 260px;
    }
}

#menu-panel {
    z-index: 30;
    background-color: $royal-blue;
    color: white;
    width: 100%;

    > .menu-first-level {
        display: flex;
        height: 72px;
        @include if-narrower-than(sm) {
            flex-wrap: wrap;
            height: auto;
            width: 100%;
            margin-left: 0;
            margin-right: 0;
        }

        > .menu-item {
            flex: 1;
            border-left: solid 2px white;
            text-align: center;
            @include if-narrower-than(sm) {
                flex: 1 1 100%;
                border-left: none;
                border-bottom: solid 2px white;
            }
        }

        > .menu-item h2 {
            @extend .lovelo;
            font-weight: 400;
            font-size: 1.25rem;
            margin: 0;
            line-height: 72px;
            @include if-narrower-than(md) {
                font-size: 1rem;
            }
        }

        > .menu-item:nth-last-child(1) {
            border-right: solid 2px white;
            @include if-narrower-than(sm) {
                border-right: none;
            }
        }
    }

    .open * {
        background-color: white;
        color: $royal-blue;
    }

    .panel-section {
        line-height: 1.5em;
    }

    h2,
    p,
    a,
    a:focus,
    a:visited,
    a:hover {
        color: white;
    }
    ul {
        list-style-type: none;
        margin: 0 15px;
        padding: 0;
        display: flex;
        justify-content: center;
    }

    .content {
        margin: 0 15px;
    }
    .heading {
        display: inline-block;
        margin-top: 0;
        background-repeat: no-repeat;
        padding: 0 0 2em;

        h2 {
            display: inline;
            margin: 0;
            border-bottom: 1px solid transparent;
            padding: 1em 0 0 0;
            line-height: 2.5em;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 1em;
        }

        @include if-wider-than(md) {
            padding: 0 0 0.5em;

            h2 {
                display: inline-block;
                border-bottom-color: white;
            }
        }
    }
}

#menu-subsection-background {
    background-color: white;
    width: 100%;
    top: 144px;
    z-index: 50;
    @include if-narrower-than(sm) {
        display: none;
    }
}

.menu-panel-section {
    padding: 1.25em 32px;
    margin: 0 auto;
    color: $royal-blue;
    float: left;
    display: flex;

    ul {
        list-style-type: none;
        padding: 0;
        display: block;
        width: 34%;
        text-align: right;
        padding-right: 32px;

        li {
            margin-top: 0.5em;
        }
    }

    p,
    a,
    a:focus,
    a:visited,
    a:hover {
        color: $royal-blue;
    }
    a:hover {
        font-weight: bold;
    }

    .content {
        margin: 0 15px;
    }
    .heading {
        display: inline-block;
        margin-top: 0;
        background-repeat: no-repeat;
        padding: 0 0 2em;
        p {
            display: inline;
            padding-top: 0.5em;
        }

        @include if-wider-than(md) {
            padding: 0 0 0.5em;

            p {
                display: block;
            }
        }
    }

    .description-container {
        width: 66%;
        padding-left: 32px;
        border-left: solid 1px $dark-dodger-blue;
        margin-top: 0.5em;
    }
}
