.mirador-viewer {
  margin: 0 0 2.5rem 0;
  border: 0;
  height: 100vh;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  h1, h2, h3, h4, h5 {
    color: white;
  }
  a.MuiTypography-colorPrimary{
    color: #099ef4;
    text-decoration: none;
  }
}

.mirador-container {
  border: 0;
  margin: 0;
  position: relative;
  poverflow-x: hidden;
  poverflow-y: hidden;
}
