.navbar-pnia {
  margin: 0 -1px;
}

.navtools{
 padding: $navbar-padding 0;
 margin: 0px;
 height: 144px;
}

#logo-container {
  overflow: hidden;
  padding: 0;
  display: flex;

  img {
    margin-top: 0.5em;
    @include if-wider-than(sm) { margin-top: 0; }
  }

  .navbar-toggle {
    display: none;
  }

  .link_republiquefrancaise {
      display: block;
      width: 33%;

      @include if-narrower-than(md) {
          width: 50%;
      }

      .logo_republiquefrancaise {
          height: 120px;
          margin-top: 0;
      }

      &:focus {
        @include outline-links-focus;
      }
  }

  .link_francearchives {
      width: 66%;
      display: flex;

      @include if-narrower-than(md) {
          width: 50%;
      }

      &:focus {
        @include outline-links-focus;
      }

      .logo_francearchives {
          width: 100%;
      }
  }

  .logo_francearchives {
      width: 66%;
      height: auto;
      max-width: 400px;
      margin-top: 0;

      @include if-narrower-than(md) {
          width: 50%;
          max-width: unset;
      }
  }
}

/* menu */

.navbar-nav {
    margin-top: 0;
    margin-bottom: 0;
    @media (max-width: 600px) {
        width: 100%;
    }

    &.nav {

        &.navbar-right {
            @media (max-width: 600px) {
                height: 100px;
                margin: 0;
            }

            @media (min-width: 768px){
                margin-right: calc( -1.5rem * 0.5); /* based on bootstrap5 with 1.5 rem for--bs-gutter-x*/
            }

            position: absolute;
            right: 0;
            display: block;
        }

        & > li {
            float: left;

            @media (max-width: 600px) {
                width: 100%;
                text-align: center;
            }

            & > a {
              display: block;
              line-height: 20px;
            }
        }

        & > .login {
            background: white;
            padding: 0.25em;

            @media (max-width: 600px) {
                float: right;
                line-height: unset;
            }
        }
    }
}

.buttons-container {
    height: 100%;
    display: flex;
    justify-content: end;
    padding: 0;
    position: relative;

    li {

      @include if-wider-than(md) {
        float: none !important;
        text-align: right;
      }

      a {

          @media (max-width: 600px) {
            padding: 0.4rem 0;
          }

          @media (min-width: 600px) {
            padding: 1em 1.5em 0.75em 1.5em;
          }

          @include if-wider-than(md) {
            padding: 0.25em 1.5em 0.25em 1.5em;
          }

          &:focus {
            @include outline-links-focus;
          }
      }
    }

    @include if-narrower-than(md) {
      height: 50px;
      padding-top: 0;
      margin-top: 20px;
      border-top: solid 2px $less-light-grey;
    }

    @media (max-width: 600px) {
      padding: 0.5rem 0;
      height: 130px;
    }

    @include if-wider-than(md) {
      padding-top: 25px;
    }
}
