.content-404 .notfound_img {
  max-height: 50vh;
}

.content-404 p {
  text-align: center;
  margin-bottom: 1em;
  font-size: 2em;
  padding-top: 3rem;
}

#content-headings.headings-404 {
  background-color: transparent;
  padding-bottom: 2em;
  margin-top: 11em;
}

.heading-item-top, .heading-item-bottom {
    display: block;
}
