.content-404 .notfound_img {
  margin: auto;
  margin-bottom: 3em;
  max-height: 50vh;
}

.content-404 p {
  text-align: center;
  margin-bottom: 1em;
  font-size: 2em;
}

#content-headings.headings-404 {
  background-color: transparent;
  padding-bottom: 2em;
}
