@mixin panel {

}

@mixin panel-header {
  cursor: pointer;
  margin-top: 1px;
  @extend .lovelo;
  background-color: $royal-blue;
  background-image: url('../images/FranceArchives_IconOpen.png');
  background-position: 10px center;
  background-size: 1.35em;
  background-repeat: no-repeat;
  color: white;
  font-weight: bold;
  padding: 0.75em 30px;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  text-transform: none;
  @include if-wider-than(lg) {
    text-align: left;
    padding: 0.75em 45px;
    text-transform: uppercase;
    background-image: url('../images/FranceArchives_IconClose.png');
  }

  a {
    color: white;
  }

  &.folded {
    background-image: url('../images/FranceArchives_IconOpen.png');
    background-size: 1.3em;
  }

  &.unfolded {
    background-image: url('../images/FranceArchives_IconClose.png');
    background-size: 1.3em;
  }
}

@mixin panel-body {
  margin-bottom: 25px;
  font-size: 1em;
  display: none;
  @include if-wider-than(lg) {
    display: block;
  }
  background-color: $light-grey;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom: 1px solid #dadada;

  ul {
    list-style-type: none;
    padding: 0em;
    margin: 0em;
  }

  li {
    padding: 0.2em 0em;
    @include if-wider-than(lg) {
        padding: 0em;
    }

    a {
      color: $medium-grey;
      font-weight: bold;
      display: inline-block;

      &:hover {
        color: $royal-blue;
      }
    }

    .active {
      a {
        color: $royal-blue;
      }
    }
  }
}
