%after-border {
  content: "";
  display: block;
  width: 108px;
  height: 3px;
  background-color: $royal-blue;
  margin-top: 0.6em;
  margin-bottom: 1.250em;
}

%sticky-btn {
  z-index: 99;
  background-color: $royal-blue;
  color: white;
  cursor: pointer;
  border: 1px solid #fff;
  padding: 0.7rem 0.9rem;
}

%sticky-btn-hover {
  background-color: $dark-dodger-blue;
}

%pnia-btn {
  padding: 0.5rem 1.5rem;
}
