@media print {

  * {
      color: black !important; // print faster
      box-shadow: none !important;
      text-shadow: none !important;
      background: transparent !important;
    }

  #section-article-header,
  h1, h2, h3, h4 {
    margin-left: 0;
    padding-left: 0
  }

  .section-context,
  .center {
    * {
        text-align: left
      }
  }

  tr,
  #search-results li,
  img {
        page-break-inside: avoid;
      }
  h2,
  h3 { page-break-after: avoid; }

  #detailed-path {
    margin-top: 0;

    .detailed-path-inner-levels
    .detailed-path-inner-levels {
      padding: 0;
      margin: 0;
    }

     ul.detailed-path-list {
      padding-left: 0;
    }

    ul.detailed-path-list ul{
      padding-left: 1.5em;
    }

    .detailed-path-list-item,
    .detailed-path-list-item-last {
       padding-left: 0em;
       border: none;
    }

    .detailed-path-list-item:before,
    .detailed-path-list-item-last:before {
      content: '- ';
    }
  }
}
