#nomina-search-bar-section,
#search-bar-section {
    background-color: $royal-blue;
    padding-top: 1.3em;
    padding-right: 1.5em;
    padding-bottom: 0.7em;
    max-height: 450px;
    @include if-narrower-than(md) {
        padding-left: 0;
        padding-right: 0 !important;
    }

    @media (max-width: 600px) {
      margin-top: 15px;
    }

}

.search-bar {
    position: relative;

    & > :first-child {
        border-radius: 0 0 0 0;
    }

    & > :last-child > * {
        border-radius: 0 0 0 0;
    }

    @include if-narrower-than(md) {
        padding-right: 0;
        padding-left: 0;
    }
}

#search-bar-form {
    padding: 0;

    @include if-narrower-than(md) {
        width: calc(90% - 82px);
    }

    @include if-narrower-than(sm) {
        width: calc(90% - 30px);
    }
}

#hero-images + #search-bar-form {
    margin-top: -9em;
    padding-bottom: 3em;

    @media(max-width: 600px) {
        margin-top: -13em;
    }
}


#nomnia-search-bar-form {
  width: 100%;
  margin: -0.7rem auto 0.7rem auto;

  @media (min-width: 1464px) {
    width: 1044px;
  }

  @include if-narrower-than(md) {
    width: calc(90% - 120px);
  }

  @include if-narrower-than(sm) {
    width: 100%;
    border: 1px solid green;
  }

  .form-control {
    border-radius: 0;
  }

  .row>* {
    @include if-wider-than(md) {
      padding-left: 0;
    }
    margin-top: calc(var(--bs-gutter-x) * .5) !important;
  }

  input {
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;

    &:focus {
      @include outline-links-focus;
    }

    &:active {
      border-color: $royal-blue;
      @include outline-button-focus;
    }
  }

}

.search-nomina-submit
{
    height: 43px;
    width: 100%;
    min-width: 43px;
    min-height: 43px;
    background-color: $royal-blue;
    border: solid 2px white;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.7rem 0 0.7rem;

    .icon {
      min-width: 43px;
      min-height: 43px;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url('../images/big_magnifyingglass_white.svg');
     }

    .text {
      font-weight: bold;
      text-transform: uppercase;
      margin:0;
    }

    @media(min-width: 992px) {
      background-position: center;
      background-size:80% 80%;
      margin-top: 0;

    }

    &:hover {
      background-color: $dark-dodger-blue;
   }

    &:focus {
      @include outline-links-focus;
    }

}

div.popover {
  color: $dark-grey;
}

.search-info.fa.fa-question {
  background-color: $royal-blue;
  color: white;
  cursor: pointer;
  position: absolute;
  right: -48px;
  top: 0;
  width: 48px;
  height: 48px;
  text-align: center;
  line-height: 46px;
  font-size: 1.5rem;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 2em;
  border: solid 2px white;
  border-radius: 100%;
  @include if-narrower-than(md) {
      border-radius: 0;
  }
}

.search-info.fa.fa-question:hover {
  background-color: $dark-dodger-blue;
}

.search-info.fa.fa-question:before {
    content: none !important;
}

.search-info.fa.fa-question > a {
    width: 100%;
    height: 100%;
    display: block;
}

.search-info.fa.fa-question > a:before {
    content: "?" !important;
    color: white;
}

.search-info.fa.fa-question > a:focus {
    box-shadow: 0 0 10px white;
}

.search-options {

    &__item {
      display: inline-block;
      color: #fff;
      font-family: "Open Sans";
      font-size: 1.3rem;
      margin: -2px -6px 0 0;

      a, a:hover, a:visited, a:focus {
        color: #fff;
        border: none;
      }

      & > a {
        margin-left: 1rem;
      }

      i.fa-question {
        background-color: black;
        color: white;
        cursor: pointer;
        border-radius: 3em;
        padding: 3px 7px;
        font-size: 75%;
      }

      @media (max-width: 600px) {
          width: 100%;
          text-align: center;

          & > a {
            margin-top: 0.5rem;
            display: inline-block;
          }

      }
    }
}


.button {
    display: inline-block;
    margin: 0 0 1em 0;
    border: 1px solid transparent;
    border-radius: 0;
    padding: 0.85em 0.75em;
    font-size: 0.9em;
    line-height: 1;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

span.typeahead__cancel-button {
    background-image: url('../images/big_cancel_cross_grey.svg');
    width: 20px;
    height: 20px;
    opacity: .5 !important;
    margin-top: 6px;
}

span.typeahead__cancel-button:hover {
    opacity: 1 !important;
}

.document-facet:focus .document-category {
  @include outline-button-focus;
 }

.typeahead__container {
    display: flex;
    background: white;
    z-index: 1001;
}

.typeahead__container .typeahead__field {
  font-size: 1.5rem;
  height: 48px;
  width: calc(100% - 48px);
}

.typeahead__field input.search-query {
    box-sizing: border-box;
    margin: 0;
    border: 3px solid transparent;
    border-radius: 0;
    height: 2em;
    width: 100%;
    vertical-align: middle;
    white-space: nowrap;
    font-weight: normal;
    padding: 0.15em 0 0 0.5em;
    height: 48px;

    &:active {
      border-color: $royal-blue;
      @include outline-button-focus;
    }

    &:focus {
      @include outline-links-focus;
    }

}

.typeahead__field input.search-query::placeholder {
  font-size: 1.2rem;
}

section button.search-submit-button {
  margin: 6px 0;
  padding: 0;
  height: 36px;
  width: 48px;
  border-style: none;
  border-left: 1px solid #666;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../images/big_magnifyingglass_grey.svg');
  &:focus {
    @include outline-links-focus;
  }
}


/* CUSTOM CHECKBOXES */
.advanced-search.search-options__item a {
  display: block;
  position: relative;
}

.checkbox.search-options__item label {
    display: block;
    position: relative;
    padding: 6px 12px 0 42px;
    cursor: pointer;
    font-size: 1.3rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 48px;
    border: solid 2px white;
    background: $royal-blue;
    transition: backouground .3s;
  }

  .checkbox.search-options__item label:hover {
      background: $dark-dodger-blue;
  }

  /* Hide the browser's default checkbox */
  .checkbox.search-options__item label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 12px;
    left: 12px;
    height: 20px;
    width: 20px;
    background-color: white;
  }

  .checkmark.focused {
    @include outline-checkbox-focus;
  }

  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the checkmark when checked */
  .checkbox.search-options__item label input:checked ~ .checkmark:after {
    display: block;
  }

  /* Style the checkmark/indicator */
  .checkbox.search-options__item label .checkmark:after {
    left: 5px;
    top: 2px;
    width: 9px;
    height: 13px;
    border: solid $dark-dodger-blue;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(57deg) skew(14deg);
    -ms-transform: rotate(57deg) skew(14deg);
    transform: rotate(57deg) skew(14deg);
  }

  #site-search-options {
      margin-bottom: 12px;
      @include if-narrower-than(md) {
          padding-left: 0;
          padding-right: 0;
          width: calc(100% + 48px);
      }
  }
