/* Breakpoints */

$screen-widths: (
  xxs: 100px,
  xs: 480px,
  sm: 768px,
  md: 992px,
  lg: 1200px,
  xl: 1600px,
  xxl: 1900px
);

$screen-ratios: (
  "1/1": calc(1 / 1),
  "4/3": calc(4 / 3),
  "16/10": calc(16 / 10)
);

$bootstrap-padding: 15px;
$min-width: 320px;

/* Layout */
$navbar-height: 3em;
$navbar-padding: 0.7em;
$hero-height: 24em;
$searchbar-height: 3em;
$search-input-height: calc($searchbar-height * 4/6);
$search-input-width: $search-input-height;
$search-input-padding: calc($searchbar-height * 1/6);
$content-headings-height: 10em;
$menu-line-height: 3em;

/* Fonts */
$lovelo: 'Lovelo', 'OpenSans';

/* Font sizes */
$font-size-root: 16px !default;
$line-height-base: 1.5 !default;
$headings-line-height: 1.1 !default;
$header-font-size: 2.250em;

$header-sizes: (
  xxs: (
    h1: 2rem,
    h2: 1.7rem,
    h3: 1.55rem,
    h4: 1.35rem,
    h5: 1.15rem,
    h6: 1rem,
  ),
  xs: (
    h1: 2rem,
    h2: 1.7rem,
    h3: 1.55rem,
    h4: 1.35rem,
    h5: 1.15rem,
    h6: 1rem,
  ),
  md: (
    h1: 2rem,
    h2: 1.7rem,
    h3: 1.55rem,
    h4: 1.35rem,
    h5: 1.15rem,
    h6: 1rem,
  ),
);


@each $breakpoint,
$headers in $header-sizes {
  @media (min-width: #{map-get($screen-widths, $breakpoint)}) {
    @each $header,
    $font-size in $headers {
      #{$header} {
        font-size: $font-size;
      }

      .#{$header} {
        font-size: $font-size;
      }

    }
  }
}

/* Colors */
$light-grey: #f6f6f6;
$less-light-grey: #e6e6e6;
$light-medium-grey: #cbcbcb;
$medium-grey: #666666;
$dark-grey: #333333;
$royal-blue: #0d4e96;
$dark-dodger-blue: #09669d;
$blue-font: #3c505d;
$almost-black: #0e1316;
$deep-red: #d51622;
$medium-green:  #00977C;
