.circle-blue-icon {
  background: $royal-blue;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  vertical-align: middle;
  color: white;
  font-size: 25px;
}

.sharelink {
  border-bottom: none;
  width: 32px;
  height: 32px;
  i.fa.circle-blue-icon {
    padding: 0;
    width: 32px;
    height: 32px;
    margin-left: 0.25rem;
    margin-top: -0.2rem;
  }
  i.fa.fa-facebook::before,
  i.fa.fa-twitter::before,
  i.fa.fa-envelope::before,
  i.fa.fa-link::before {
      content: "";
  }
  i.fa.fa-facebook {
    background-image: url('../images/logo_fb.svg');
  }
  i.fa.fa-twitter {
    background-image: url('../images/logo_twitter.svg');
  }
  i.fa.fa-envelope {
    background-image: url('../images/picto_mail.svg');
  }
  i.fa.fa-link {
    background-image: url('../images/picto_url.svg');
  }
}

.sharelinks {
  float: right;
}

.sharelinks.fi {
  margin-top: 1.75rem;
  margin-bottom: -3.5rem;
  margin-right: 2rem;

  @media (min-width: 1464px) {
    margin-right: calc(50vw - 694px);
  }
  @media (max-width: 992px) {
    margin-right: calc(5% + 15px);
  }
}

#tooltip-copylink {
  color: $medium-grey;
  margin-top: 0.5em;
}
