$theme-grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
) !default;

@function breakpoint-min($name, $breakpoints: $theme-grid-breakpoints) {
  $min: map-get($breakpoints, $name);
  @return if($min != 0, $min, null);
}

// Media of at least the minimum breakpoint width. No query for the smallest breakpoint.
// Makes the @content apply to the given breakpoint and wider.
@mixin media-breakpoint-up($name, $breakpoints: $theme-grid-breakpoints) {
  $min: breakpoint-min($name, $breakpoints);
  @if $min {
    @media (min-width: $min) {
      @content;
    }
  } @else {
    @content;
  }
}

// Theme image

.theme-columns {
  display: flex;
  flex-wrap: wrap;
  column-gap: 32px;

  @include if-narrower-than (md) {
    column-gap: 22px;
  }

  @include if-narrower-than (sm) {
      justify-content: center;
  }
  @include if-narrower-than (xs) {
    display: none;
  }

  .theme {
    position: relative;
    margin-bottom: 32px;
    min-width: 0;
    flex: 0 1 31%; /* three columns*/

    @include if-narrower-than (md) {
      /* flex: 0 1 47%;  two columns;*/
      margin-bottom: 22px;
    }

    @include if-narrower-than (sm) {
      flex: 0 1 440px; /* one column*/
    }

    @include if-narrower-than (xs) {
      flex: 0 1 100%; /* one column hidden*/
    }

    .img-fluid {
      margin: auto;
      width: 100%;
      max-width: 440px;
    }

    .theme-tag {
      background-color: $royal-blue;
      color: white;
      position: absolute;
      bottom: 0.6rem;
      right: -9px;
      margin: 0;
      padding: 6px 2px;
      width: 98%;
      text-align: center;
      font-weight: bold;
      font-size: 0.9rem;

      a {
        color: #fff;
        border: none;
      }

      a:hover, a:focus {
        border-bottom: 1px solid #fff;
      }
    }

    .small-black-triangle {
      background-image: url(../images/small_black_triangle.svg);
      width: 9px;
      height: 9px;
      position: absolute;
      bottom: -9px;
      right: 0;
      display: block;
    }
  }
}


ul.section-themes {
  display: none;

  @include if-narrower-than (xs) {
    display: block;
  }

  list-style-type: none;

  li {
    position: relative;
  }

  li:before {
    content: '';
    position: absolute;
    width: 14px;
    height: 2px;
    background: black;
    top: 10px;
    left: -25px;
    font-weight: 700;
  }
}
