$distance-to-line: 100px;
$timeline-news-margin: $distance-to-line - $bootstrap-padding;
$corner-width: $distance-to-line + 18px;
$corner-odd-margin: -1 * ($timeline-news-margin - 56.5px);
$corner-even-margin: $corner-odd-margin - 1.5px;

.timeline {
  width: 100%;

  &__more-events {
    height: 3.4em;
    width: 3.4em;
    margin: auto;
    @include more-link;
  }

  .row {
      margin-right: 0;
      margin-left: 0;
  }
}

.timeline {
  // Layout: either display as list or as 2 columns
  .ordered {
    display: block;
    @include if-wider-than(sm) { display: none; }

    // display the first of day as full news, the rest as simple link
    .timeline-slide {
      padding-bottom: 0;

      .timeline-news {
        .timeline-slide { margin-top: 0.938em; }

        .timeline-news {
          &__picto {
              float: right;
              max-width: 50%;
          }
          &__title { margin-top: 0; }
          &__datetime, &__picto, &__chapo { display: none; }
        }
      }
    }

    .timeline-slide.first-of-day {
      .timeline-news {
        margin-bottom: 0;

        &__title { margin-top: 1.563em; }
        &__datetime, &__picto, &__chapo { display: block; }
      }
    }
  }

  .even, .odd {
    display: none;
    @include if-wider-than(sm) { display: block; }

    .timeline-news__picto { max-width: 40%; }

    @include if-wider-than(md) {
        .timeline-news__picto { max-width: 58%; }
    }
  }

  .odd {
    border-right: 1px solid $medium-grey;

    .timeline-news { margin-right: $timeline-news-margin; }
    .timeline-news__datetime { float: right; }
    .timeline-news__picto { float: left; }
  }

  .even {
    .timeline-news { margin-left: $timeline-news-margin; }
    .timeline-news__datetime { float: left; }
    .timeline-news__picto { float: right; }
  }
}

.timeline-corner {
  top: 3.125em;
  display: block;
  position: absolute;
  z-index: 10;
  width: $corner-width;
  height: 2.75em;
}

.timeline {
  .even .timeline-corner {
    left: $corner-even-margin;
    background-image: url('../images/rhombus_blue.png'),
                      url('../images/arrow_left_white.png');
    background-repeat: no-repeat, no-repeat;
    background-position: center left, center right;
  }

  .odd .timeline-corner {
    right: $corner-odd-margin;
    background-image: url('../images/arrow_right_white.png'),
                      url('../images/rhombus_blue.png');
    background-repeat: no-repeat, no-repeat;
    background-position: center left, center right;
  }
}

.timeline-news {
  background-color: #fff;
  min-height: 7.5em;
  padding: 1.563em;
  margin: 0.938em;
}

.timeline-slide {
  position: relative;
  padding-bottom: 0.625em;
}

.timeline-news__datetime {
  font-size: 1.5em;
  padding: 0.6em 0.4em;
  display: inline-block;
  background: $royal-blue;
  color: #fff;
  width: 4.3em;

  &__day, &__month {
      font-weight: 700;
      margin: 0;
      text-align: center;
      color: white;
  }

  &__day {
    @extend .lovelo;
    font-size: 2em;
    line-height: 1em;
  }

  &__month {
    line-height: 1em;
    text-transform: uppercase;
  }

  span {
    display: block;
    text-align: center;
  }
}

.timeline-news__title h3 > a {
  @extend .lovelo;
  margin-top: 1.563em;
  color: $medium-grey;
  font-size: 0.95em;
}

.timeline-news__chapo {
  color: $medium-grey;
  font-size: 1.375em;
}
