.toc-col {
  text-align: left;
  position: sticky;
  height: 100%;
  top: 0;

  @include if-narrower-than(lg) {
    position: relative;
    top: unset;
    float: unset;
  }
}

.sticky-toc {
  background-color: $less-light-grey;
  height: unset !important;
  padding: 1.5rem 0 1rem;
  @include if-wider-than(lg) {
    margin-top: 1.5rem;
  }
}

h1.toc-label {
  @extend .lovelo;
  font-size: 1.5rem;
  margin: 0 1.5rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #fff;
  @include if-narrower-than(lg) {
    margin: 0 2rem;
  }
}

#tocbox {
  max-width: 100%;
  overflow: auto;
  padding: 0 1.5em;
  max-height: calc(85vh - 100px);
}

ul.toc, ul.toc-links {
  margin-top: 0.5em;
  padding-left: 0;
}

ul.toc-links {
  padding-left: 1em;
}

ul.toc li, ul.toc ul {
  margin: 0;
  padding: 0;
}

ul.toc, ul.toc ul, ul.toc-links {
  list-style: none;
}

ul.toc a, ul.toc-links a{
  color: $dark-dodger-blue;
  color: $dark-grey;
  text-decoration: none;
  border-bottom: 0;
  display: block;
  padding-top: 5px;
  @include if-wider-than(lg) {
    font-size: 90%;
  }
}

.toc li a:hover, .toc li a:active,
.toc li.active a, .toc li.active:hover a{
  color: black;
  text-decoration: none;
  background-color: transparent;
}

.toc li.active>a, .toc li.active:hover>a,
.toc li>a:hover {
  border-left: 2px solid #000000;
}

.toc>li.active>a, .toc>li.active:hover>a,
.toc>li>a:hover {
  padding-left: 18px;
}

.toc-links>li>a {
  padding-left: 10px;
}

.toc>li>a {
  padding-left: 20px;
}

.toc>li>ul>li.active>a,
.toc>li>ul>li.active:hover>a,
.toc>li>ul>li>a:hover {
  padding-left: 30px;
}

.toc>li>ul>li>a {
  padding-left: 32px;
}

.toc>li>ul>li>ul>li.active>a,
.toc>li>ul>li>ul>li.active:hover>a,
.toc>li>ul>li>ul>li>a:hover {
  padding-left: 42px;
}

.toc>li>ul>li>ul>li>a {
  padding-left: 44px;
}

.toc>li>ul>li>ul>li>ul>li.active>a,
.toc>li>ul>li>ul>li>ul>li.active:hover>a,
.toc>li>ul>li>ul>li>ul>li>a:hover {
  padding-left: 54px;
}

.toc>li>ul>li>ul>li>ul>li>a {
  padding-left: 56px;
}

.toc>li>ul>li>ul>li>ul>li>ul>li.active>a,
.toc>li>ul>li>ul>li>ul>li>ul>li.active:hover>a,
.toc>li>ul>li>ul>li>ul>li>ul>li>a:hover {
  padding-left: 66px;
}

.toc>li>ul>li>ul>li>ul>li>ul>li>a {
  padding-left: 68px;
}

.toc>li>ul>li>ul>li>ul>li>ul>li>ul>li.active>a,
.toc>li>ul>li>ul>li>ul>li>ul>li>ul>li.active:hover>a,
.toc>li>ul>li>ul>li>ul>li>ul>li>ul>li>a:hover {
  padding-left: 78px;
}

.toc>li>ul>li>ul>li>ul>li>ul>li>ul>li>a {
  padding-left: 80px;
}

.toc-links{
  text-align: right;
  .toggle-menu {
    display: inline-block;
    padding: 0.5rem 1.5rem;
    margin-right: 2.5rem;
    border: 1px solid;
  }
}
