.translations {
  color: $medium-grey;

  ul {
    padding: 0;
  }

  .dropdown-menu {
    margin-right: -5.5em;
    @include if-wider-than(sm) { margin-right: -2em; }
    width: 3em;

    li {
      border-bottom: 1px solid $light-medium-grey;
      padding: 0.3em 0.75em;
    }

    li:last-child {border-bottom: none}

    li a {
      border: none;
      color: $almost-black;

      &:hover {
        text-decoration: underline;
      }

    }
  }
}

#languageMenu:focus {
  @include outline-button-focus;
}
