.letter-active {
  color: #7c7c7c;
}

.index-authorities {
  padding: 2rem 0 0;

  @include if-wider-than(md) {
    margin-right: 10%;
  }

  .all {
    margin-right: 2rem;
  }

  a {
    color: #353535;
    font-size: 1.2rem;
    display: inline-block;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    margin-bottom: 1rem;
  }

  a.letter {
    padding: 3px 13px;
    border: 1px solid #353535;
  }

  a.nlat {
    @include if-narrower-than(md) {
      margin-left: 2rem;
    }
  }

  a.letter:hover,
  a.letter.active {
    color: #fff;
    background: $royal-blue;
    border: 1px solid $royal-blue;
  }

  a.all.active,
  a.nlat.active {
    color: $royal-blue;
    border: 1px solid transparent;
    border-bottom: 2px solid;
 }
}
