 /* no home page */

.article-content .main-properties {
  margin-top: 2.5rem;
}

#article {
  &::after {
    content: '';
    display: block;
    clear: both;
  }

  & > * {
    margin-right: 0;
    margin-left: 0;
  }

  h2 {
    display: inline-block;
  }

  h2:after {
    content: "";
    display: block;
    width: 216px;
    height: 5px;
    background-color: $royal-blue;
    margin-top: 25px;
    margin-bottom: 25px;
  }

  input {
    width: 100%;
  }

}

.document,
.article {
  &__actions {
    display: flex;
    justify-content: safe flex-end;

    @include if-narrower-than(xs) {
      display: block;
    }

    .translations {
      margin-right:auto;

      .dropdown-menu {
        top: inherit;
        left: 1em;
      }
    }

    .sharelinks {
      float: none;
    }
   }
}

/*related articles/news */
.siderelated {
  margin-top: 3.5rem;
  padding-left: 2rem;

  @include if-narrower-than(lg) {
    margin: 5rem -1rem 0 -1rem;
    padding-left: 1.5rem;
    width: calc(100% + 2rem);
    background: $light-grey;
  }

  &__header {
    @extend .lovelo;
    margin: 0 1.5rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid $royal-blue;
    font-size: 1.5rem;

    @include if-narrower-than(lg) {
      margin: 0 2rem;
    }
    & > .fa {
      padding: 0;
    }
  }

  .aside-column-cards {
    padding-left: 0em;
    .card {
      @include if-wider-than(lg) {
        padding: 1.5rem 1.5rem 0 1.5rem;
      }
      .card-img-top  {
        .article-tag {
          right: 1rem;
          top: 9px;
        }
      }
    }
  }

  .card-columns {
    margin-top: 0em;

    @include if-narrower-than(lg) {
      margin-top: 3rem;
    }
  }

  &__more-content {
    height: 2em;
    width: 2em;
    margin: 2em auto auto;
    @include more-link;
  }

}

.siderelated-container {
  background: $light-grey;
  padding: 1.5rem 0;

  @include if-narrower-than(lg){
    padding: 3rem 0;
  }
}

/* articles */

.article-content {
  @include if-wider-than(lg) {
    margin-left: 12.5%; /*this rule doesn't seem to work*/
  }
}


.toc-col ~ .article-content {
  margin-left: 0;
}

.article-subtitle {
  font-size: 1.2em;
  font-weight: 555;
}

.article-subtitle::after {
  @extend %after-border;
}

.newscontent-chapo {
  margin: 1.25em 0;
  font-weight: 400;
}


/* images  */

.images {
  margin-right: 1em;
  float: none;
  max-width: 100%;
  text-align: center;

  @include if-wider-than(xs) {
    margin-right: 1em;
    float: left;
    max-width: 40%;
    text-align: left;
  }

  img {
    margin: auto;
    @include if-wider-than(xs) { margin: 0; }
  }
}

figure.image {
  display: inline-block;
  margin: 0 2px;

  img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-right: 1em;
  }
}

figure.align-left {
  float: left;

  img {
    margin-right: 1em;
    margin-left: 0em;
  }
}

figure.align-right {
  float: right;

  img {
    margin-left: 1em;
    margin-right: 0;
  }
}

figure.image figcaption {
  max-width: 80%;
  font-size: 0.9em;
  text-align: center;
  margin: 1em;

  .image-legend,
  .image-copyright {
    display: inline-block;
  }
}

.article-buttons-wrapper {
  margin-top: 2rem;
  float: right;
}
