#bs-table-container table td {
  white-space: normal;
}

.circulartable_caret {
  color: #ccc;
  margin-left: 0.5em;
  font-size: 1.2em;
  & > .fa {
    padding: 0.1em;
  }
  &-selected {
    color: #000;
  }
}
.react-bs-table-container .react-bs-table .table-bordered {
   border: 1px solid #ddd;
}

.react-bs-table .table-bordered>thead>tr:first-child>td,
.react-bs-table .table-bordered>thead>tr:first-child>th {
   border-bottom-width: 0;
}

.circular-view .main-properties {
  .index-value-title {
    font-size: 1.3rem;
    vertical-align:top;
    margin: 0;
  }

  .indexes-values {
    vertical-align:top;
    margin-bottom: 1rem;
  }

}
