
.fold-action {
  width: 30px;
  height: 30px;
  display: block;
  float: left;
  margin-right: 15px;
  margin-left: 18px;
  margin-top: 12px;
}

.fold-action:hover {
  cursor: pointer;
}

/* commemoration */

.commemorationitem-view >h1:first-child {
  @include if-wider-than(lg) {
    margin-top: 0;
  }
}

.commemoration-side-content {
    @include panel();
}

.commemoration-side-content-header {
    @include panel-header();

    h2.header-title {
      color: #fff;
      @extend .lovelo;
    }
}

.commemoration-side-content-item {
    @include panel-body();
    padding: 1em 0.75em;

    @include if-wider-than(lg) {
      padding: 1em 0.5em;
   }

   a {
     padding: 0;
      @include if-wider-than(lg) {
        padding: 0.25em 1em;
     }
  }
}


// FIXME: those classes should not depend on commemoration-side-content-item:
// event-title, event-item, event-timeline, line and date.
.commemoration-side-content-item .event-title a:hover {
  color: $royal-blue;
}

.commemoration-side-content-item .event-item {
  margin-bottom: 5px;
  width: 100%;
  display: flex;
}

.commemoration-side-content-item .event-timeline {
  min-width: 70px;
  float: left;
  display: block;
  padding-left: 15px;
  overflow: hidden;
}

.commemoration-side-content-item .date {
  background-color: white;
  border: 1px solid $light-medium-grey;
  -moz-box-shadow: 2px 2px 5px 0px $light-medium-grey;
  -webkit-box-shadow: 2px 2px 5px 0px $light-medium-grey;
  -o-box-shadow: 2px 2px 5px 0px $light-medium-grey;
  box-shadow: 2px 2px 5px 0px $light-medium-grey;
  height: 30px;
  display: block;
  text-align: center;
  padding-top: 5px;
  font-weight: bold;
  font-size: 15px;
  color: $royal-blue;
}

.commemoration-side-content-item .line {
  width: 100%;
  display: block;
  text-align: center;
  height: 100%;
}

.commemoration-side-content-item .line:after {
  border-left: 1px solid #4a4a4a;
  display: inline-block;
  position: relative;
  height: 100%;
  content: "";
}

.commemoration-side-content-item .event-title {
  padding: 5px 10px;
}

.commemoration-side-content-item .event-title a {
  font-weight: bold;
  color: $medium-grey;
}

.commemoration-side-content-item .event-title li a {
  display: inline;
  padding: 0px;
}

.commemoration-side-content-item .event-title li:last-child:after {
  content: "";
  display: block;
  width: 0px;
  height: 0px;
  margin: 0px;
}

.commemoration-side-content-item .event-title li:after {
  content: "";
  display: block;
  width: 2em;
  height: 1px;
  background-color: $royal-blue;
  margin: 5px 0px;
}

.commemoration-side-content-item .event-title ul,
.commemoration-side-content-item .event-title li {
  padding: 0px;
  margin: 0px;
  min-height: 3em;
}

.commemoration-article {
  padding-right: 40px;
}

.alphanav {
  font-size: 3em;
}

.alphanav-is-inactive {
  color: $dark-grey;
}


/* Timeline */

#timeline-header {
  padding-top: 80px;
}

#timeline {
  margin: 3em auto;
  min-height: 3em;
  padding: 0;
}

#timeline > div:first-child {
  text-align: left;
}

#timeline > div:last-child {
  text-align: right;
}

#timeline .timeline-control {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  height: 2.3em;
  width: 2.3em;
  color: #fff;
  background-color: $royal-blue;
}

#slider-dates span {
  @extend .lovelo;
  float: left;
  width: 90px;
  margin-bottom: 10px;
  font-size: 20px;
  color: $medium-grey;
  margin-bottom: 1em;
  font-size: 1.2em;
  text-align: center;
  border-bottom: 7px solid $medium-grey;
}

li.lslide a {
  color: $medium-grey;
}

#timeline .lSAction {
  display: none !important;
}

#slider-dates span.active {
  border-bottom: 7px solid $dark-dodger-blue;
  color: $dark-dodger-blue;
}

a.timeline-link {
  color: $medium-grey;
  font-size: 1.3em;
  font-weight: 700;
}
