.eac-sub-label {
  display:  inline-block;
  padding-right: 1em;
  font-weight: 700;
}

.occupation {
    margin-to: 1em;
    margin-bottom: 1em;
}

.maintenance-event {
    margin-to: 1em;
    margin-bottom: 1em;

    &__description {
	margin-left: 1em;
    }

    &__agent {
	margin-left: 1em;
    }
}

.related-productors {
   min-height: 10px;
   padding: 1em 2em;
   margin-top: 1em;
   margin-left:1em;
   margin-bottom: 10px;
   background-color: #f6f6f6;

   &__title {
    margin-bottom: 1em;
  }

  &__description p{
    margin: 0;
  }
}
