
.faqview h1 {
  text-align: center
}

.faq-tools {
  margin-left: 1em;
  text-align: right;

  #faq-toggle-fold {
    color: $royal-blue;
    border: 1px solid $royal-blue;
    background: transparent;
    @extend %pnia-btn;

    &:hover, &:focus {
       color: #fff;
       background-color: $royal-blue;
       text-decoration: none;
    }

  }

}

.faq_category {
  margin: 1rem 0 3rem 0;

  &__title {
    padding: 1em 1rem 1rem 0;
  }

  &__title h2 {
   margin: 0em;
   font-size: 130%;
   text-transform: uppercase;
   font-weight: 400;
   letter-spacing: 2px;
  }

}

.faq_item {
   border: 1px solid #cbcbcb;
   border-bottom: 0;
   padding: 15px 15px 17px;

  &__question {
    border-bottom: 1px dotted #cbcbcb;
    position: relative;
    padding-bottom: 20px;
    font-size: 1rem;
    padding-left: 0;
    display: flex;
    cursor: pointer;
    font-weight: normal;
    color: $almost-black;

    h2, h3 {
      color: inherit;
      font-weight: normal;
      width: 100%;
    }
  }

  &__question.collapsed {
    border: none;
    padding-bottom: 0;
  }

  &__question p {
    margin: 0;
    padding: 0;
  }

  &__question:hover {
    text-decoration: none;
    color: $royal-blue;
  }

  &__question .angle-right {
    margin-left: 0;
    transform: rotate(180deg);
    border: 1px solid transparent;
  }

  &__question .angle-right:hover {
    border: 1px solid $almost-black;
  }

  &__question.collapsed .angle-right {
    transform: none;
  }

  &__answer {
    padding: 1rem 1rem 1rem 1.9rem;
  }

}

.faq_item:last-child {
  border-bottom: 1px solid #cbcbcb;;
}
/* modal */

#faqbox-btn {
  @extend %sticky-btn;
  display: inline-block;
  text-rendering: auto;
  line-height: 1;

  &:hover {
    @extend %sticky-btn-hover;
  }

  &:focus {
    @include outline-blue-button-focus;
    @include outline-button-focus;
  }

}

.faqbox {
  display: none;

  @include if-wider-than(xs) {
    display: block;
    position: fixed;
    bottom: 40px;
    left: 30px;
    z-index: 9999;
    line-height: 1.7;
  }

  .faq-modal-header.modal-header {
    position: sticky;
    display: block;
    z-index: 9999;
    background-color: $royal-blue;
    color: #fff;
    top: 0;
    padding: 1rem 0 0 0;

    #faq-toggle-fold {
      background: transparent;

      &:hover {
        text-decoration: underline;
      }
    }

    .modal-title {
      color: #fff;
      margin:0;
    }

    & > div {
      display: flex;
      padding: 0.5rem 1rem 0;
    }

     & > div:last-child  {
       padding-bottom: 0.5rem;
    }

    .btn-close {
      opacity: 1;
      background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;

      &:focus {
        @include outline-links-focus;
      }
    }

    a, span {
      border-bottom: none;
      color: #fff;
    }

    #faq-toggle-fold {
      margin-left: auto;
      color: #fff;
      border-style: none;

      &:hover {
        background: $royal-blue;
      }
    }

  }

  .faq-all-link {
    padding: 10px 0px 11px;
    display: block;
    border-bottom: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .modal-body {

    .faq_item {
      border: 1px solid #cbcbcb;
      padding: 20px 20px 22px;
      margin-bottom: 1em;
    }

    .faq_item_last {
      padding: 10px 20px 11px;
      margin-bottom: 1em;
    }

    .faq_item__question.collapsed {
      border: none;
      padding-bottom: 0;
    }

    .faq_item__answer {
      @include if-wider-than(md) {
        font-size: 14px;
      }
    }

    .faq-all-link {
      text-align: center;
    }
  }
}

i.round, button.round {
  display: inline-block;
  border-radius: 60px;
  box-shadow: 0px 0px 2px #000;
  padding: 0.4em 0.6em;
  border: 2px solid #fff;
  margin-right: 5px;
}
