span.required{
  color: #a94442;
}

form.static {
  margin: 1.250em 0;
}

.form-control, .form-select {
  border: 1px solid #989899;
}

.form-control:focus, .form-select:focus {
  @include outline-input-focus ;
}
