.glossary-term {
  border-bottom-style: dotted;
  border-bottom-width: 1px;
  cursor: help;
}

h2.no-style a.glossary-term {
  border-bottom: none;
  cursor: pointer;

  i.fa-question {
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0px 0px 2px #888;
    padding: 0.4em 0.6em;
    margin-left: 2px;
    font-size: 12px;
  }
}

.glossary-alphabet-sticky {
  margin-top: 1em;
}

.glossary-alphabet {
  text-align: center;
  min-height: calc(30vh);

  a {
    display: inline-block;
    text-align: center;
    padding: 2px;
    color: #353535;
    text-transform: uppercase;
    font-size: 1.5rem;
    border: none;
   }


  .rhombus {
    background-image: url(../images/rhombus_gray.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 9px;
    width: 9px;
    display: inline-block;
    margin-bottom: 4px;
  }
}

.glossary-letter {
  color:  $dark-dodger-blue;
  text-transform: uppercase;
  text-align: center;
  font-size: 2rem;
  margin: 0em 0;
  padding: 0.5em;
}

.glossary-item {

  margin-bottom: 2em;

  &__term {
    font-weight: 700;
    text-transform: uppercase;
    color: #000;
    padding-bottom: 1em;
    letter-spacing: 2px;
  }

   &__edition {
    margin: 1em 2em;
  }

}

a.edit-link {
  border-bottom: none;
}

.dead-link {
  pointer-events: none;
  border-bottom: none;
  color: #333;
}
