/* homepage */

.openSans-char {
  font-family: "Open Sans", sans-serif;
}

#content-headings {
  margin-top: 5em;
  padding-bottom: 1em;
  height: 100%;
  display: none;
  width: 100%;

  @include if-wider-than(xs) {
    display: block;
  }

  .row {
      display: flex;
      padding-bottom: 5em;

      @include if-narrower-than(md) {
          flex-wrap: wrap;
      }

      .heading-container {
          flex: 1;
          flex-basis: 33,33%;
          margin: 0 15px;
          padding-left: 0;
          padding-right: 0;

          @include if-wider-than(md) {

          &:nth-child(2) {
              margin-left: 0;
          }
          &:nth-last-child(1) {
              margin-right: 0;
          }
        }

          @include if-narrower-than(md) {
              flex-basis: 100%;
          }
      }

    .content-heading {
      text-align: center;

      &__title {
        display: block;
        background-color: $royal-blue;
        padding: 1px;
      }

      &__title h2 {
        margin: 0.5em 0 0.2em 0;
        font-weight: 400;
        color: white;
        font-size: 1.5rem;
        @extend .lovelo;
      }

      ul {
          list-style-type: none;
          justify-content: center;
          padding-left: 0;
          margin-top: 2em;

          li {
            margin: 1em;
          }
          a, a:focus, a:visited, a:hover {
            color: #000;
          }
          a {
            border-bottom: 1px solid;
            font-size: 1rem;
          }
          a:hover {
              text-decoration: none;
          }
      }

      &__icon-discover,
      &__icon-understand,
      &__icon-search {
          height: 64px;
          background-repeat: no-repeat;
          background-position: center;
          margin-bottom: 1.5em;
      }

      &__icon-discover {
          background-image: url('../images/heading_big_globe.svg');
      }

      &__icon-understand {
          background-image: url('../images/heading_big_lightbulb.svg');
      }

      &__icon-search {
          background-image: url('../images/heading_big_compass.svg');
      }
    }
  }
}

#on-frontpage {
    margin-top: 5em;
}

.card-columns {
    column-count: 3;
    column-gap: 32px;
    margin-top: 5em;

    @include if-narrower-than (lg) {
        column-count: 2;
    }

    @include if-narrower-than (md) {
        column-count: 1;
    }

    .card {
      margin-bottom: 3em;
      padding-bottom: 3em;
      padding-top: 9px;

      @include if-narrower-than (md) {
        width: 100%;
        margin-left: 0;
        border-bottom: solid 2px $less-light-grey;
      }

      .card-img-top {

        @include if-narrower-than(md) {
            width: 50%;
            margin-left: 25%;
        }

        @include if-narrower-than(sm) {
            width: 66.6%;
            margin-left: 16.6%;
        }

        @include if-narrower-than(xs) {
            width: 100%;
            margin-left: 0;
        }

        .img-fluid {
            margin: auto;
            margin-bottom: -1.25em;
        }
      }
    }
}

.card {
  > a {
    border-bottom: none;
  }

  .card-body {
    padding: 0;
    margin-top: 2.5em;

    h2.card-title {
      color: $royal-blue;
      font-size: 1.5rem;
      font-weight: 600;
      line-height: 150%;
    }
  }
 }
