h2.search-section {
  @extend .lovelo;
  font-weight: 400;
  color: inherit;
  font-size: 1.3rem;
  margin-top: 2em;
  margin-bottom: 1em;
  @include if-narrower-than(xs) {
    white-space: nowrap;
  }
}

.help-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .blue-button {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    width: 15rem;
  }

}

#start-tour {
  margin-left: auto;
}


h2.search-section a,
h2.search-section a:visited,
h2.search-section a:hover,
h2.search-section a:focus {
  color: inherit;
}

.dropdown__label {
  display: inline-block;
  padding-bottom: 2px;
  padding-right: 3px;
}

.search-results {

  &__options {
    display: flex;
    flex-wrap:wrap;
  }

  &__title {
    & h1 {
      @extend .lovelo;
      font-size: 1.25rem;
    }
  }

  &__sort-options,
  &__items-per-page {
    margin-top: 1.1em;

    .pnia-dropdown-toggle {
      background-color: $less-light-grey;
      color: $almost-black;
      font-size: 1em;
    }

    .pnia-dropdown-toggle:focus {
      @include outline-button-focus;
    }

    .pnia-dropdown-toggle.show {
      display: inline-block;
    }

    ul.dropdown-menu {
      background-color: $less-light-grey;
      min-width: 0;
      border-radius: 0;
      font-size: 1em;
      border: 0;
      box-shadow: none;
      padding: 5px 9px;
    }
    a {
      border: none;
    }
  }

  &__extra_msg {
    margin-top: 2rem;
  }
}

input.error {
  color: red;
  border-color: red;
}

/* search views */
#search-results {
  padding: 0;

  @include if-wider-than(md) {
    padding-left: 32px;
    padding-right: 0;
    margin-top: 0.9em;
  }

  &-title {
    text-align: center;
    font-weight: 600;
    padding-bottom: 0.5em;
    &--circular {
      text-decoration: underline;
      font-weight: 400;
    }
  }

  &-title &-text {
    color: $medium-grey;
  }

  i.fa-question {
    display: none
  }

  a.glossary-term {
    white-space: nowrap;
  }

}

.cwjs-aside.col-xs-3 {
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
  @include if-wider-than(xs) {
    width: 25%;
    padding-left: 5px;
    padding-right: 5px;
  }
}

.search-summary {
  background-color:  $less-light-grey;

  p {
    margin: 0;
    padding: 0;
  }
  &__clear {
    float:right;
    background: #fff;
    border: 2px solid $royal-blue;
    padding: 0.25em 0.5em;
    margin: 0.5em 1em 1em 0;
    font-size: 1rem;
    font-weight: 400;

    a {
      border-bottom: none;
    }

  }
  &__es_category {
      font-size: 1rem;
      margin: 0.2em 0;
      font-weight: 600;
  }
  &__query {
      font-weight: 600;
      color: $royal-blue;
      margin: 0.2em 0;
  }
}

.es_category_name {
    color: $royal-blue;
    display: inherit;
    font-weight: 400;
}

.search-summary-global-search {
  @include panel-facet-header;
  cursor: initial;
  margin: 0 0.75em -2px 0.75em;
}

.search-summary-facets {
  font-size: 1rem;
  padding: 1em 1em 0 1em;
  font-weight: 400;
  &__facet-name {
    display: block;
    margin-bottom: 0.2em;
  }

  &__facet-values {
    list-style-type: none;
    padding-left: 0px;
    margin: 0;

    li {
      div.link-info {
        float: right;
        content: url("../images/delete_icon_blue.svg");
        margin-top: 5px;
      }
    }

    a {
      display: inline-block;
      border-bottom: none;
      width: calc(100% + 1em);
      padding: 0.2em 0.5em;
      margin-left: -0.5em;
      transition: background .1s;

      &:hover {
        background: $light-grey;
        color: $dark-dodger-blue;
      }
    }

  }
}

.facet-name {
  display: inline-block;
  margin-bottom: 0.2em;
  font-weight: 600;
}

.document-category-facet {
  padding: 1em 0 1.5em 0;
  margin-bottom: 2em;
  @include if-wider-than(md) {
    padding: 2.5em 0;
    margin-bottom: 2.5em;
  }

  .facet-label:first-letter {
    text-transform: uppercase;
  }
}

.facet__body {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.facet__body li.facet__more_options {
  padding-top: 0.5em;
}

.facet {
  &__more_options {
    cursor: pointer;
    color: $royal-blue;
    margin: auto;
    text-align: center;
    border-top: 1px solid $light-medium-grey;
  }

  &__more_options.show_options {
    background-image: url('../images/arrow_left_white.png');
  }

  &__more_options.hide_options {
    background-image: url('../images/icon_plus_blue.svg');
  }

  &__value.more-option {
    background: $less-light-grey;
  }

}

.facet__values > .more-option {
  border-top: 1px solid $light-medium-grey;
}

.facet__values > .more-option ~ .more-option {
  border: none;
}

#search-context {
  width: 80%;
  margin: auto;
  background-color: $light-grey;
  padding: 1em;
}


#search-context h2 {
  margin-top: 0px;
}

h1 .search-subtitle {
  color: $almost-black;
  font-size: 1.3rem;
  font-weight: normal;
}

.searched-terms {
  font-style: italic;
}

.searched-terms::before {
  content: '« ';
}

.searched-terms::after {
  content: ' »';
}

.search-page-container {
  padding-top: 3rem;
}

.search-page-container.results {
  padding-top: 0;
}

.section-context {
  margin: 2rem 0 2rem 0;
  padding: 0;

  @include if-wider-than(lg) { margin-bottom: 2em;}

  h1 {
    margin: 0;
    font-weight: 700;

    & > * {
        display: inherit;
    }
  }

  &__info {
    margin-top: 2.5rem;

    p {
    }
    .label {
      font-weight: 700;
      font-size: 1.1rem;
      white-space: nowrap;
    }
  }

  h2, h3, h4, h5, h6 {
    margin: 2.5rem 0 1rem 0;
  }

  h2:nth-child(1), h3:nth-child(1), h4:nth-child(1), h5:nth-child(1), h6:nth-child(1) {
    margin-top: 0;
  }

  &__list {
    margin-top: 1em;
  }

  & > .indexes-values {
    margin-left: 0;
    & > div:nth-child(1) {
      padding-left: 0;
      margin-left: 16.6%;
    }
    & > div:nth-child(2) {
      padding-left: 1.7em;
      @include if-narrower-than(lg) {
        margin-left: 16.6%;
        padding-left: 0;
      }
    }
  }

  & .thumbnail {
    padding: 0;
    border: none;
    border-radius: 0;

    @include if-narrower-than(sm) {
      display: none;
    }
  }
  .rdf-download {
    width: 15rem;
  }

  .rdf-download-container {
    display: flex;
    justify-content: right;
  }
}

/* pagination */

.pagination {
  display: flex;
  justify-content : center;
  align-items : center;
}

.pagelink {
   a, span {
    height: 2.5rem;
    line-height: 2em;
    text-align: center;
    display: inline-block;
    font-weight: 400;
    color: white;
    background-color: $royal-blue;
    border: solid #fff;
    border-width: 0 0 0 2px;
    font-size: 1.2em;
    width: 3.5rem;
  }
  a:hover,
  span:hover {
    border: solid #fff;
    border-width: 0 0 0 2px;
  }
  a:focus {
    @include outline-button-focus
  }
}


.search-results__pages {
  display : flex;
  justify-content : center;
  align-items : center;

  .search-results__page-input {
    margin-left: auto;
    display: flex;
    height: 2.5rem;

    & > #page-number-input-form,
    & > span {
      width: 3.5rem;
      margin: 0;
      border: solid #fff;
      border-width: 0 0 0 2px;
      text-align: center;
      line-height: 2.5rem;
      font-size: 1rem;
    }

    & > span {
      width: unset;
      margin: 0 0.5rem;
    }

    & .form-control {
      border: solid 2px;
      border-color: $royal-blue;
      color: $royal-blue;
      border-radius: 0;
      height: 2.5rem;
      font-size: 1rem;
    }
  }

  #page-number-input {
    padding: 0;
    -moz-appearance: textfield;
    text-align: center;
  }

  .pagination {
    font-family: "Open Sans", sans-serif;
  }
}

#search-results {

  .document {
    padding-bottom: 3em;
    padding-top: 3em;
    padding-top: 1.8em;

    .document-title {
      margin-bottom: 2em;
    }
  }

  .authority {
    padding-top: 1.8em;

    .document-title {
      margin-bottom: 1.8em;
    }
  }

  .document, .authority {
    margin: 0;
    border-bottom: 2px solid $less-light-grey;

    &>* { padding: 0; }

    .image-fixed-frame {
      display: block;
      overflow-y: hidden;
      width: 100%;

      img { width: 100%; }

      @include if-wider-than(sm) { height: 20em; }
      @include if-wider-than(md) { height: 15em; }
    }

    .picto img {
      margin: 2px auto auto;
    }

    .informations-content {
      .informations-content-image {
        display: flex;
        align-items: flex-end;
        column-gap: 0.5rem;

        a {border: none;}
      }

    }
    .informations-header,
    .informations-content {
      @include if-narrower-than(sm) {
        display: flex;
        flex-wrap: wrap;
      }
    }

    .informations-content {
      @include if-narrower-than(sm) {
        justify-content: center;
      }
    }

    .informations-content-logo {
      @include if-wider-than(xs) {
        margin-top: -1em;
      }
      margin-bottom: 1em;
      height: 100%;
    }

    .informations-content-logo > .picto {
      padding: 0;
    }

    .informations-content-logo > .picto > img.img-fluid {
      max-height: 86px;
    }

    .document-excerpt__text {
      font-style: italic;
      border-left: none;
      color: $medium-grey;
      display: block;
      padding-top: 0;
      padding-bottom: 0;
      margin: 0;
      float: right;

      em {
        font-weight: 600;
      }
    }

    .informations-content-text > * {
      padding: 0.25em 0;
    }

    .document-excerpt,
    .document-property-name {
      @include if-wider-than(sm) {
        text-align: right;
      }
      @include if-narrower-than(sm) {
        margin-bottom: 0.5em;
      }
    }

    .document-title {
      font-size: 1.3rem;
      font-weight: 600;
      margin-bottom: 2em;

      &:hover {
        text-decoration: underline;
      }

      a {
        color: $almost-black;
      }

      @include if-narrower-than(sm) {
        flex: 1 1 70%;
      }
    }
  }
}
