/* service */

#service-listing >h1:first-child {
  @include if-wider-than(md) {
    margin-top: 0;
  }
}

#selector-geo-dpt {
  margin-bottom: 10px;
}

#archives-services:before {
  content: "";
  display: block;
  width: 70%;
  height: 3px;
  background-color: $royal-blue;
  margin-top: 3em;
  margin-bottom: 3em;
}

#services-dpt-map {
  margin: auto;
  width: 100%;
  height: 85vh;
  position: relative;

  .fa {
    padding-left: 0.5rem;
  }
}

.services-map {
  margin-bottom: 2rem;
}

.service-map{

  #services-dpt-map {
    height: 300px;
    padding-top: .75rem;
  }
}

.service-info {
  padding: .75rem 0 2rem;

  &__title{
      font-weight: 700;
      margin-bottom: .5rem;
    }

  h2 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.1;
  }

  .service-buttons-wrapper{
    margin-top: 2rem;
    width: calc(80% - 1rem);

    @media (max-width: 1000px) {
      width: calc(50% - 1rem);
    }
  }
}

.info-title {
  font-weight: 700
}
