#toTopBtn {
  display: none;
  position: fixed;
  bottom: 50%;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: $royal-blue;
  color: white;
  cursor: pointer;
  padding: 0.7em;
  border-radius: 7em;
  font-size: 18px;
}

#toTopBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}