recursive-include cubicweb_francearchives *.py *.css *.js *.jinja2 *.jpg *.json *.csv *.ttf *.otf *.eot *.svg *.xsl *.xslt *.html *.png *.woff *.woff2 *.xml *.yaml *.txt *.ico .editorconfig .jshintrc *.po *.pot *.scss *.md *.sql
recursive-include doc *.html *.rst *.yaml *.example
recursive-include a11y *.js *.json
recursive-include appjs *.js
include pyproject.toml
recursive-include sphinx *.rst *.bat *.py Makefile
include package.json
include package-lock.json
include LICENCE.txt Licence_CeCILL-C_V1-en.txt
include francearchives_screenshot.jpg
include *.js
include pa11y.json
recursive-include test *.py bootstrap_cubes *.XML *.csv *.jpg *.pdf *.png *.rdf *.rst *.txt *.xml *.xsd ccsv *.json *.ttl
# build from sass
include cubicweb_francearchives/data/css/francearchives.bundle.css
include cubicweb_francearchives/data/css/francearchives.bundle.css.map
# build from npm
include cubicweb_francearchives/data/bundle-circular-table.js
include cubicweb_francearchives/data/bundle-pnialocation-map.js
include cubicweb_francearchives/data/bundle-pnia-toc.js
include cubicweb_francearchives/data/bundle-pnia-faq.js
include cubicweb_francearchives/data/bundle-glossary.js
include cubicweb_francearchives/data/*.geojson
prune scss
prune debian
exclude gitfilter
exclude sonar-project.properties
exclude .babelrc
exclude .eslintrc.yml
exclude .prettierrc
exclude .gitlab-ci.yml
exclude .style.yapf
exclude dev-requirements.txt
exclude requirements.txt
exclude tox.ini
exclude .yamllint
exclude Makefile
exclude Makefile.docker
exclude Dockerfile
prune deploy
exclude deploy.sh
exclude env.example
