recursive-include cubicweb_francearchives *.py *.css *.js *.jinja2 *.jpg *.json *.csv *.ttf *.otf *.eot *.svg *.xsl *.xslt *.html *.png *.woff *.woff2 *.xml *.yaml *.txt *.ico .editorconfig .jshintrc *.po *.pot *.scss
recursive-include doc *.html *.rst *.yaml
recursive-include a11y *.js *.json
recursive-include appjs *.js
include pyproject.toml
recursive-include sphinx *.rst *.bat *.py
include package.json
include LICENCE.txt Licence_CeCILL-C_V1-en.txt
include francearchives_screenshot.jpg
include *.js
include pa11y.json
recursive-include test *.py bootstrap_cubes *.XML *.csv *.jpg *.pdf *.png *.rdf *.rst *.txt *.xml *.xsd ccsv
# build from sass
include cubicweb_francearchives/data/css/francearchives.bundle.css
include cubicweb_francearchives/data/css/francearchives.bundle.css.map
# build from npm
include cubicweb_francearchives/data/bundle-circular-table.js
include cubicweb_francearchives/data/bundle-pnialocation-map.js
prune scss
prune debian
prune gitfilter
prune sonar-project.properties
prune .babelrc
prune .eslintrc.yml
prune .gitlab-ci.yml
prune .style.yapf
prune dev-requirements.txt
prune tox.ini
prune Makefile
