html, body {
  height: 100%;
  width: 100%;
}

h1 {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.tl-timeline a,
.tl-timeline a:visited,
.tl-timeline a:hover,
.tl-timeline a:focus {
  color: #0d4e96;
}

.tl-slide .tl-slide-scrollable-container {
  background: rgba(0,0,0,.4);
}

.tl-slide-content .tl-media,
.tl-slide-content .tl-text  {
  padding: 20px !important;
}

.tl-slide .tl-slide-background {
  filter: blur(2px);
}

#section-bottom {
  padding-bottom: 4em;
}
