[Unit]
Description=%i uWSGI app
After=syslog.target

[Service]
ExecStart=/usr/bin/uwsgi --ini /etc/uwsgi/apps-available/%i.ini
User=www-data
Group=www-data
Restart=on-failure
KillSignal=SIGQUIT
StandardError=syslog

[Install]
WantedBy=multi-user.target
