{% from "./mixins.jinja2" import imagelist %}
{% if recents %}
<div class="row">
    <div class="col-lg-8">
        <article id="article" class="basenewscontent-view">
          <h1><span class="sr-only">{{ _(entity.__regid__) }} : </span>{{ entity.title | e }}</h1>
          {% if entity.header %}
          <div class="newscontent-chapo">{{ entity.header | e }}</div>
          {% endif %}
{% else %}
<article id="article" class="basenewscontent-view">
    <h1>{{ entity.title | e }}</h1>
    {% if entity.header %}
    <div class="newscontent-chapo">{{ entity.header | e }}</div>
    {% endif %}
    <div class="row">
         <div class="col-lg-9">
{% endif %}
             <div class="content-metadata">
                 <div class="row">
                      <div class="col-xs-4 content-metadata-item">
                          <i class="fa fa-calendar-o" aria-hidden="true"></i>
                          <span class="date">{{ date }}</span>
                      </div>
                  </div>
              </div>
    <div class="row article__content">
         {% if entity.summary %}
         <div class=" toc-col hidden-xs col-sm-4">
            <div class="sticky-toc">
               <div class="ui-toc">
                 <span class="toc-label">
                     <i class="fa fa-book"> </i>
                     {{ _("Toc") }}
                 </span>
                 <div class="tocbox">
                     {{ entity.summary }}
                 </div>
                 <ul class="toc-links">
                     <li><a class="toggle-menu" data-label-collapse="{{ _('Expand the toc') }}" data-label-expand="{{ _('Collapse the toc') }}">{{ _('Expand the toc') }}</a></li>
                 </ul>
               </div>
             </div>
         </div>
      {% endif %}
         <div class="col-xs-12 col-sm-{% if entity.summary %}8{% else %}12{% endif %}">
              {{ imagelist(images, default_picto_src) }}
              {{ entity.printable_value('content') }}
  {% if not recents %}
         </div>
    </div>
</article>
  {% else %}
        </article>
    </div>
    <aside class="siderelated col-lg-4 hidden-print">
        <h1 class="no-style siderelated__header">{{ recent_label }}</h1>
        {% for recent_entity in recents %}
        <div class="siderelated__content-item">
            {% if recent_entity.img_src %}
            <img src="{{ recent_entity.img_src }}"
                 class="thumbnail"
                 data-defaultsrc="{{ default_picto_src }}"
                 alt="{{ recent_entity.img_alt }}"
            />
            {% else %}
            <img src="{{ default_picto_src }}"
                 class="thumbnail" alt="" />
            {% endif %}
            <h2 class="siderelated__content-item__title">
                <a href="{{ recent_entity.href }}">{{ recent_entity.title }}</a>
            </h2>
            {% if recent_entity.header %}
               <p class="siderelated__content-item__chapo">{{ recent_entity.header | e }}</p>
            {% endif %}

            {% if recent_entity.date %}
            <p class="siderelated__content-item__date">
                <i class="fa fa-calendar-o" aria-hidden="true" ></i>
                {{ recent_entity.date }}
            </p>
            {% endif %}
        </div>
        {% endfor %}
        <p>
            <a href="{{ all_link.url }}" class="siderelated__more-content">
              <span class="sr-only">{{ all_link.label }}</span>
            </a>
        </p>
    </aside>
</div>
{% endif %}
