{% from "./mixins.jinja2" import toc, imagelist, content_metadata, index_values, sharelinks, translations, modalfaq, related_docs -%}
<div class="row article-page-container">

{% if entity.summary  -%}
  <div
     class="d-print-none d-sm-none d-md-block col-md-9 col-lg-6 col-xl-3 toc-col {% if not entities %}article-content{% endif %}">
   {{  toc(entity.summary, _) }}
  </div>
{% endif -%}
    <div class="{% if entities or entity.summary -%}col-xl-6 {% else -%} col-xl-9 {% endif -%}article-content">
        <article id="article" class="{{ entity.cw_etype|lower }}-view">
            <h1><span class="visually-hidden">{{ _(entity.__regid__) }} : </span>{{ entity.title | e }}
                {% if entity.subtitle -%}
                    <span class="entity-subtitle">{{ entity.subtitle }}</span>
                {% endif %}
            </h1>
            <div class="article__actions">
                {{  translations(i18n_links, _) }}
                {{  sharelinks(sharelinks_data, _) }}
            </div>
            {{ content_metadata(metadata, _) }}
            <div class="article__content">
                {{ imagelist(images, default_picto_src) }}
                {{ entity.printable_content }}
            </div>
           {% if faqs -%}
             {{  modalfaq(faqs, _) }}
           {% endif -%}
         </article>
         {% if main_props -%}
           {{ index_values(main_props) }}
         {% endif-%}

    </div>
    {% if entities -%}
       {{ related_docs(entities, all_links, recent_label, _) }}
    {% endif -%}
</div>
