<section id="document" class="document-view">
  {% block head %}
    <h1><span class="sr-only">{{ _(entity.__regid__) }} : </span>{{ entity.dc_title() }}</h1>
  {% endblock %}
  {% block metadata %}
    {% if entity.main_date %}
    <div class="content-metadata">
      <div class="content-metadata-item">
        <i class="fa fa-calendar-o", aria-hidden="true"></i>
        {{ entity.main_date }}
      </div>
    </div>
    {% endif %}
    {% endblock %}

    {% block subhead %}
    {% endblock %}

  {% set publisher_title = entity.publisher_title %}
  {% if publisher %}
  <div class="grey-sidebar right-col">
    <h2 class="no-style">{{ publisher.title_label }}</h2> {{ publisher.title }}
    <div class="grey-sidebar_buttons">
      {% if publisher.contact_url %}
      <a href="{{ publisher.contact_url }}">{{ publisher.contact_label }}</a>
      {% endif %}
      {% if publisher.site_url %}
      <a href="{{ publisher.site_url }}"
        title="{{ _('Go to the site:') }} {{ publisher_title }} {{ _('- New window') }}"
        target="_blank" rel="noopener noreferrer nofollow" >{{ publisher.site_label }}
      </a>
      {% endif %}
    </div>
  </div>
  {% endif %}

    <div class="media left-col">
      {% for propname, value in main_props %}
      {% if value %}
      <div class="row indexes-values">
        <div class="col-md-3"><h2 class="no-style">{{ propname }}</h2></div>
        <div class="col-md-9">{{ value }}</div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
 <div class="clearfix"></div>
</section>
