<article id="article" class="{{ entity.cw_etype|lower }}-view">
  {% block head %}
    <h1>{{ entity.title | e }}</h1>
  {% endblock %}
  {% block metadata %}
  {% endblock %}
  {% block subhead %}
  {% endblock %}
  {% block body %}
  {{entity.printable_value('content')}}
  {% endblock %}
  {% block footer %}
  {% endblock %}
</article>
