<div class="bottom-links d-print-none">
  <section class="bottom-links-container">
    <a href="{{ req.build_url('actualite') }}" class="ir_link">{{ req._('See all news') }}</a>
    <a href="{{ req.build_url('inventaires') }}" class="ir_link">{{ archives_label }}</a>
  </section>
  {%if homepage %}
   <section class="bottom-links-container">
    <a href="{{ req.build_url('locations')}}" class="authority_link">{{ locations_label }}</a>
    <a href="{{ req.build_url('agents') }}" class="authority_link">{{ agents_label }}</a>
    <a href="{{ req.build_url('subjects') }}" class="authority_link">{{ subjects_label }}</a>
  </section>
  {% endif %}
</div>