{% extends "./searchitem.jinja2" %}
{% block rightcol %}
  {{ super() }}
  <div class="circular-status circular-status-{{ circular_css_class }}
              circular-status--block" title="{{ circular_status }}"> </div>
{% endblock %}
