{% extends "./basiccontent.jinja2" %}

{% block head %}
  {% if entity.subtitle %}
    <h3>{{ entity.subtitle | e }}</h3>
  {% endif %}
{% endblock %}

{% block subhead %}
  <div class="alphanav">
    <h2>
    {% for letter in uppercase %}
      {% if rsets[letter] %}
        <a href="#letter-{{ letter }}">{{ letter }}</a>
      {% else %}
        <span class="alphanav-is-inactive">{{ letter }}</span>
      {% endif %}
    {% endfor %}
    </h2>
  </div>
  {% for letter in uppercase %}
    {% if rsets[letter] %}
      <section class="alphasection">
        <h3 id="letter-{{ letter }}">{{ letter }}</h3>
        <ul>
          {% for ci in rsets[letter].entities() %}
            <li><a href="{{ ci.absolute_url() }}">{{ ci.dc_title() }}</a></li>
          {% endfor %}
        </ul>
      </section>
    {% endif %}
  {% endfor %}
{% endblock %}

{% block body %}
{% endblock %}
