{% if commemos %}
{% from "./mixins.jinja2" import home_section_header %}
{{ home_section_header(grey_title, blue_title) }}
<section id="content-events">
<ul id="eventGallery" class="gallery list-unstyled lightSlider lSSlide lsGrab topic pull-left">
    {% for commemo in commemos %}
    <li>
      <h2 class="no-style">
          <a href="{{ commemo.url }}" class="event image-link" title="{{ commemo.link_title }}">
          {% if commemo.image %}
          <img class="responsive-img"
               src="{{ commemo.image.image_file[0].download_url() }}"
               data-defaultsrc="{{ default_picto_src }}"
               alt="{{ commemo.plain_title }}"/>
          {% else %}
          <img class='responsive-img'
              src="{{ data_url}}/images/body_events_imagespace-640x430px.jpg" alt=""/>
         {% endif %}
      <span class="event__header">{{ commemo.title }}</span>
      </a></h2>
    </li>
    {% endfor %}
</ul>
</section>
<div class="clearfix"></div>
{% endif %}
<section class="content-events-bbg"></section>