{% from "./mixins.jinja2" import imagelist %}
{% extends "./basiccontent.jinja2" %}


{% block metadata %}
   {% if authors %}
    <div class="content-metadata">
        <div class="content-metadata-item">
          <i class="fa fa-user" aria-hidden="true"></i>
          {{ authors[0] }}
          {{ authors[1] }}
      </div>
    </div>
   {% endif %}
  {% endblock %}

{% block subhead %}
 {% if entity.subtitle %}
   <div class="article-subtitle">{{ entity.subtitle}}</div>
 {% endif %}
 {% if entity.commemoration_category %}
  <ul>
    {% for category in entity.commemoration_category %}
      <li>{{ category.name }}</li>
    {% endfor %}
   </ul>
 {% endif %}
 {{ imagelist(entity.commemoration_image, default_picto_src) }}
{% endblock %}

{% block footer %}
  {% if entity.manif_prog_content %}
    <hr/>
    <h3>Programme des manifestations</h3>
    <div>{{ entity.manif_prog_content }}</div>
  {% endif %}

{% endblock %}
