{%- if display_date_facet %}
<div id="facet-dates" class="facet d-print-none">
  <h3 class="no-style facet__title">
    <a href="#" class="cwjs-facet-title {% if facet_date_unfolded %}unfolded{%- endif %}"
       aria-expanded="{% if facet_unfolded %}true{% else %}false{% endif %}"
        aria-controls="facet-dates-content" role="button"
    >
      <span class="arrow">{{ _('Dates') }}</span>
    </a>
  </h3>
  <div id="facet-dates-content"
       class="facet__body" {% if  facet_date_unfolded %}style="display:block"{%- endif %}>
    <form id="date-facet" action="{{ fulltext_form_action }}" onsubmit="return checkDateRange()">
      <div class="mb3">
        {% for name, values in date_params.items() %}
        {% for value in values %}
        <input type="hidden" name="{{ name |e}}" value="{{ value | escape }}" />
        {% endfor %}
        {% endfor %}
        <div id="date-facet__dates_interval">
          <div id="date-facet__dates_interval_min">
            <label for="date-min-input">{{ _('date-min-label') | escape }}</label>
            <input id="date-min-input" name="es_date_min" value="{{ es_date_min |e }}" class="form-control facet__focusable-item" type="number" placeholder="{{ _('year') }}" />
          </div>
          <div id="date-facet__dates_interval_max">
            <label for="date-max-input">{{ _('date-max-label') | escape }}</label>
            <input id="date-max-input" name="es_date_max" value="{{ es_date_max |e}}" class="form-control facet__focusable-item" type="number" placeholder="{{ _('year') }}" />
          </div>
        </div>
        <input type="submit" class="hidden" aria-label="{{ _("Send") }}"/>
      </div>
    </form>
  </div>
</div>
{% endif -%}
