<div class="row">
  <aside class="col-xs-12 col-md-6">
    {{ map_form }}
    <div id="dpt-vmap" class="jqvmap jqvmap-centered" data-formid="dpt-vmap-form"></div>
  </aside>
  <section id="service-listing" class="col-xs-12 col-md-6">
    {{ service_directory_content }}
  </section>
</div>
