<form id="dpt-vmap-form" action="{{ base_url + 'annuaire/departements' }}">
  <div class="input-group">
   <label class="sr-only" for="selector-dpt">{{ _("Select department") }}</label>
    <select id="selector-dpt" name="dpt" class="form-control">
      <option disabled="disabled" {% if selected_dpt is none %} selected="selected" {% endif %}>{{ _('Select department') }}</option>
      {% for s in services %}
        <option value="{{ s.dpt_code.lower() }}" {% if selected_dpt and selected_dpt.lower() == s.dpt_code.lower() %} selected="selected" {% endif %}>{{ s.name }}</option>
      {% endfor %}
    </select>
    <span class="input-group-btn"><input type="submit" value="ok" class="btn btn-primary" /></span>
  </div>
</form>
