<section id="document" class="externref-view">
  {% block head %}
    <h1>{{ entity.title }}</h1>
  {% endblock %}
  {% if years %}
    <div class="content-metadata">
        <p class="content-metadata-item">
          <i class="fa fa-calendar-o" aria-hidden="true"></i>
          <span> {{years}}</span>
        </p>
    </div>
  {% else %}
  <div class="empty-content-metadata"></div>
  {% endif %}
  <div>{{ entity.printable_value('content') }}</div>
  {% for propname, value in main_props %}
  <div class="row indexes-values">
     <div class="col-lg-3"><h2 class="no-style">{{ propname }}</h2></div>
     <p class="col-lg-9 index-value-text">{{ value }}</p>
  </div>
  {% endfor %}
</section>