{% if data %}
{% from "./mixins.jinja2" import imagelist %}
<div id="flash-tbg"></div>
<section id="flash-section">
   {% if data.image %}
   <div id="flash-images">
     {% if data.image.href %}
        <a href="{{ data.image.href }}" title="{{ data.image.title }}">
        <img
           alt= "{{ data.image.alt }}"
           class="img-responsive" src="{{ data.image.src}}"
        />
        </a>
     {% else %}
        <img
           alt= "{{ data.image.alt }}"
           class="img-responsive" src="{{ data.image.src }}"
        />
     {% endif %}
   </div>
   {% endif %}
   <div>
     <h1>{{ data.link }}</h1>
     {{ data.content}}
   </div>
<div class="clearfix"></div>
<div id="flash-bbg"></div>
</section>
{% endif %}
