<h1 class="visually-hidden">{{ _('Links') }}</h1>
<footer id="pagefooter" class="container-fluid d-print-none">
  <section id="content-connected">
    <h2 class="content-connected__link">
      <a class="btn"
         href="https://twitter.com/FranceArchives"
         rel="nofollow noopener noreferrer"
         target="_blank"
         title="{{ _('Follow us on Twitter') }} {{ _('- New window') }}">
        {{ _('Follow us on') }} <b>Twitter</b>
        <span aria-hidden="true" class="twitter-icon connected-icon"></span>
      </a>
    </h2>
    <h2 class="content-connected__link">
      <a href="{{ base_url}}/lettre-info" class="btn">
        {{ _('###subscribe to our newsletter###') }}
        <span aria-hidden="true" class="connected-icon"></span>
      </a>
    </h2>
  </section>
  <div id="footer-content" class="row">
    <div class="col-xl-4 footer-content__ministry_links">
      <div id="footer-signature" class="row"></div>
      <div class="row">
         <ul>
           {% for link in footer.ministries %}
           <li>
           {% set label = picklabel(link.labels, lang) %}
           <a href="{{ link.url | format(base_url=base_url+'/')}}"
              target="_blank" rel="nofollow noopener noreferrer"
              title="{{ label }} {{ _('- New window') }}"
           >{{ label }}</a>
           </li>
           {% endfor %}
         </ul>
      </div>
    </div>
    <div class="col-xl-8 footer-content__falinks">
      <div class="row">
        {% for section in footer.sections %}
        <div class="col-md-3">
          <h2>{{ picklabel(section.labels, lang) }}</h2>
          <ul>
            {% for link in section.links %}
            <li class="{{ link.css }}">
            {% set label = picklabel(link.labels, lang) %}
            <a href="{{ link.url | format(base_url=base_url+'/')}}"
               {% if not link.url.startswith('%(base_url)s') %}
               target="_blank" rel="nofollow noopener noreferrer"
               title="{{ label }} {{ _('- New window') }}"
               {% endif %}
            >{{ label }}</a>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="footer-actions">
    <ul class="footer-actions-container">
    {% for link in footer.footer_links %}
    <li>
      <a href="{{ link.url | format(base_url=base_url+'/')}}">
         {{ picklabel(link.labels, lang) }}
      </a>
    </li>
    {% endfor %}
    </ul>
  </div>
  <p id="copyright">
    {{ _('###site-copyright###') }}
  </p>
</footer>
