{%- if display_fulltext_facet %}
<div class="facet d-print-none">
  <form id="fulltext-facet" action="{{ fulltext_form_action }}">
    <div class="mb-3">
      {% for name, values in fulltext_params.items() %}
      {% for value in values %}
      <input type="hidden" name="{{ name |e}}" value="{{ value | escape }}" />
      {% endfor %}
      {% endfor %}
      <label for="fulltext-input" class="visually-hidden">{{ _('fulltext-facet-label') | escape }}</label>
      <input id="fulltext-input" name="fulltext_facet" value="{{ fulltext_value | e}}"
             class="form-control facet__focusable-item"
             title="{{ _('fulltext-facet-label') | escape }}"
             aria-label="{{ _('fulltext-facet-label') | escape }}"
             placeholder="{{ _('fulltext-facet-label') | escape }}" />
    </div>
  </form>
</div>
{% endif -%}
