<section id="hero-images" class="d-print-none">
    <div class="hero-images--item hero-images--item__visible">
        <img class="hero-images--image hero-images--image__lowres"
            src="{{ heroimage.image.hero_src }}"
            data-highres-xl="{{ heroimage.image.hero_xl_src }}"
            data-highres-lg="{{ heroimage.image.hero_lg_src }}"
            data-highres-md="{{ heroimage.image.hero_md_src }}"
            data-highres-sm="{{ heroimage.image.hero_sm_src }}"
            data-highres-xs="{{ heroimage.image.hero_xs_src }}"
            aria-hidden="true" 
            alt=""
        />

        <div class="hero-images-desc">
            <div class="hero-images-desc-moto-container">
                <span class="hero-images-desc-moto">{{ _("Discover 15 centuries of archives") }}</span>
                {% if mission_link %}
                {% set label = picklabel(mission_link.labels, lang) %}
                <a class="hero-images-desc-link" href="{{ mission_link.url | format(base_url=base_url+'/')}}">{{ label }}</a>
                {% endif %}
            </div>
        </div>

        {% if heroimage.alert %}
            <div class="alert">{{ heroimage.alert }}</div>
        {% endif %}
    </div>
</section>