<div id="index-view" class="section-context">
  <h1>{{ title }}</h1>
  {% for propname, value in properties %}
  <div class="row indexes-values">
    <div class="col-md-3"><h2 class="no-style">{{ propname }}</h2></div>
    <div class="col-md-9">{{ value }}</div>
    </div>
  {% endfor %}
</div>