{% extends "./searchitem.jinja2" %}

{% block subtitle %}
  {% if entity.publisher %}
  <p class="document-publisher">
    {{ _('Publisher:') }} {{ entity.publisher }}
  </p>
  {% endif %}
{% endblock %}

