<section class="document-view">
  <h1>{{ map.dc_title() }}</h1>

  {% if map.top_content %}
  {{ map.printable_value('top_content') }}
  {% endif %}

  {% if map.map_title %}
  <div class="map-view-title">{{ map.map_title }}</div>
  {% endif %}

  <div class="map-view-content">
      <div aria-hidden="true">
      {{ map_form }}
      </div>
      <div id="dpt-vmap" class="jqvmap jqvmap-left" data-formid="dpt-vmap-form"
          aria-hidden="true"></div>
    {% for color, desc, data in legends %}
    <div class="map-view-legend">
        <svg width="2em" height="1em" class="map-view-legend-color" role="img" aria-hidden="true">
          <title>{{ desc }}</title>
          <rect width="100%" height="100%" fill="{{ color }}" stroke-width=1 stroke="rgb(0,0,0)" />
        </svg>
        <h2 class="map-view-legend-desc no-style">{{ desc }}</h2>
      {% if data %}
      <ul class="visually-hidden">
        {% for item, url in data %}
        <li >
          {% if url %}
          <a href="{{ url }}" tabindex="-1"
             target="_blank" rel="nofollow noopener noreferrer"
             title="{{ item }} {{ _('- New window') }}">{{ item }} ({{ desc }})</a>
          {% else %}
          {{ item }}
          {% endif %}
        </li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
    {% endfor %}
  </div>
  {% if map.bottom_content %}
  {{ map.printable_value('bottom_content')}}
  {% endif %}
</section>
