<h1 class="visually-hidden">{{ _('Menu') }}</h1>
<section id="menu-panel-container">
  <nav id="menu-panel" class="hidden d-print-none" aria-label="{{ _('main menu') }}">
    <ul id="sections-menu" class="menu-first-level" role="tree">
      {% for title, label, url, css, desc, subsections in topsections %}
      <li class="menu-item">
        <div id="panel-{{ url }}" class="panel-section">
         {%- if url != 'quick_access' %}
          <a href="{{ base_url }}/{{ url }}" aria-haspopup="true" aria-owns="section-{{ url }}"
             aria-controls="section-{{ url }}" aria-expanded="false" role="treeitem">
            <h2>{{ _(title) }}</h2>
          </a>
         {%- else %}
         <h2 aria-haspopup="true" aria-owns="section-{{ url }}"
             aria-controls="section-{{ url }}" aria-expanded="false" role="treeitem">
            {{ _(title) }}
         </h2>
        {%- endif %}
      </div>
      </li>
      {% endfor %}
    </ul>
  </nav>
  <section id="menu-subsection-background">
    <nav id="menu-subsection-container">
      {% for title, label, url, css, desc, subsections in topsections %}
      <div id="section-{{ url }}" class="menu-panel-section hidden d-print-none"
           aria-labelledby="panel-{{ url }}" role="group">
        <ul>
          {% for eid, suburl, subtitle, subdesc in subsections %}
          <li>
            <div id="subsection-{{ eid }}" class="menu-subsection-item">
              <a href="{{ suburl }}" role="treeitem">
                <span>{{ _(subtitle) }}</span>
              </a>
            </div>
          </li>
          {% endfor %}
        </ul>
        <div class="description-container">
          {%- for eid, suburl, subtitle, subdesc in subsections %}
          {%- if subdesc %}
          <div id="description-{{ eid }}" class="subsection-description hidden">
            <p>{{ subdesc }}</p>
          </div>
          {% endif -%}
          {% endfor -%}
        </div>
      </div>
      {% endfor %}
    </nav>
  </section>
</section>

