{% macro imageitem(image, default_picto_src) %}
  {% if image %}
  {% set legend=image.caption or image.copyright %}
  {% if legend %}
  <figure class="image" role="group" {% if legend %} aria-labelledby="fig{{ image.eid }}" {% endif %}>
  {% endif %}
    <img class="img-fluid"
         src="{{ image.image_file[0].download_url() }}"
             alt="{{ image.alt  | escape }}"
             data-defaultsrc="{{ default_picto_src }}"
    />
    {% if legend %}
    <figcaption id="fig{{ image.eid }}">
       {% if image.caption  %}
           {{ image.caption }}
       {% endif %}
       {% if image.copyright  %}
           <p class="image-copyright">© {{image.copyright }}</p>
       {% endif %}
    </figcaption>
    </figure>
    {% endif %}
  {% endif %}
{% endmacro %}

{% macro imagelist(images, default_picto_src) %}
  {% if images %}
    <div class="images">
      {% for image in images %}
       {{ imageitem(image, default_picto_src) }}
     {% endfor %}
    </div>
  {% endif %}
{% endmacro %}


{% macro faqitems(faq, category, editable, _, level) %}
  {% for eid, faq_url, question, answer in faq %}
    <div class="faq_item">
      <div class="faq_item__question collapsed" id="question{{eid}}" data-bs-toggle="collapse" data-bs-target="#answer{{eid}}" aria-expanded="false" aria-controls="answer{{eid}}" tabindex="0"
       role="button"
        >
        <H{{ level }} class="no-style">
          {% if editable %}
            <a class="edit-link" href="{{ faq_url }}"><i class="fa fa-edit"></i></a>
          {% endif %}
          <i class="fa angle-right"></i>
          {{ question }}
        </h{{ level }}>
      </div>
      <div id="answer{{eid}}" class="collapse faq_item__answer" data-parent="#{{category}}">
        <div>{{ answer }}</div>
      </div>
    </div>
  {% endfor %}
{% endmacro %}


{% macro modalfaq(data, _) %}
{% if data and data.faqs %}
 <div class="faqbox d-print-none">
   <button type="button" id="faqbox-btn" data-bs-toggle="modal" data-bs-target="#faq-modal"
           aria-haspopup="dialog" aria-controls="faq-modal" aria-expanded="false">
      {{ _("Help?") }}
   </button>
   <div id="faq-modal" class="modal fade faq-modal" role="dialog"
        aria-labelledby="faq-modal-title" aria-modal="true"
        aria-hidden="true" tabindex="-1">
     <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
       <div class="modal-content faq-modal-content">
         <div class="modal-header faq-modal-header">
           <div>
             <h1 class="no-style modal-title" id="faq-modal-title">
               {{ "FAQ" }} : {{ _(data.category) }}
             </h1>
             <button type="button" class="btn-close" data-bs-dismiss="modal"
                data-dismiss="faq-modal"
                aria-label="{{ _('Close') }}">
             </button>
           </div>
           <div>
              <a href="{{ data.faq_url }}" class="faq-all-link" target="_blank">
                {{ data.faq_label }}
              </a>
              <button id="faq-toggle-fold" type="button"
                data-label-collapse="{{_('Fold all') }}"
                data-label-expand="{{_('Unfold all') }}"
                aria-expanded="false" aria-controls="faqs">
                {{_('Unfold all') }}
              </button>
           </div>
         </div>
         <div id="faqs" class="modal-body">
           {{  faqitems(data.faqs, data.category, false, _, 2) }}
           <div class="faq_item_last">
             <a href="{{ data.faq_url }}" class="faq-all-link" target="_blank">
             {{ data.faq_label }}</a>
           </div>
         </div>
         <div class="modal-footer">
        <button type="button" class="btn btn-primary"  data-dismiss="faq-modal" data-bs-dismiss="modal">{{ _('Close') }}</button>
      </div>
       </div>
     </div>
   </div>
 </div>
{% endif %}
{% endmacro %}

{% macro content_metadata(metadata, _) %}
   {% if metadata %}
    <div class="content-metadata">
    {% for label, value in metadata -%}
        <p class="content-metadata-item">
            {% if label -%}{{ _(label) }}{{ _(":")}}{% endif -%}{{ value }}
        </p>
    {% endfor -%}
    </div>
   {% endif %}
{% endmacro %}

{% macro itemprops(item_properties, _) %}
{% for label, value in item_properties %}
   {% if value %}
     <div class="document-properties row">
     {% if label is none %}
       {{ value }}
     {% else %}
       <span class="document-property-name col-sm-12 col-md-4">{{ label }}{{ _(':') }}</span><span class="document-property-value col-sm-11 offset-sm-1 col-md-8 offset-md-0">{{ value }}</span>
     {% endif %}
     </div>
   {% endif %}
{% endfor %}
{% endmacro %}

{% macro on_front_page(entities, _) %}

{% if entities %}
{% for entity in entities %}
<div class="card">
    <a href="{{ entity.url }}" title="{{ entity.link_title|e }}">
        <div class="card-img-top">
        {% if entity.image %}
         <img class="img-fluid"
             alt="{{ entity.image.alt|e }}"
              src="{{ entity.image.image_file[0].download_url() }}"
             data-defaultsrc="{{ entity.default_picto_srcs }}"
          />
        {% endif %}
            <p class="article-tag" aria-hidden="true">
                {{ entity.etype }}
                <span class="small-black-triangle"></span>
            </p>
        </div>
        <div class="card-body">
             <h2 class="card-title">
             {{ entity.title|e }}
             </h2>
             <p class="visually-hidden">{{ entity.etype }}</p>
             {% if entity.dates %}
             <div class="hpdoc__date">{{ entity.dates }}</div>
             {% endif %}
             {% if entity.header %}
             <div class="hpdoc__header">{{ entity.header }}</div>
             {% endif %}
        </div>
    </a>
</div>
{% endfor %}
{% endif %}
{% endmacro %}

{% macro subtree(items, level, id) %}
  <ul id="tsd-{{id}}" class="section-tree__list {{ "d-none" if level==2 else "" }}"
    role="{{ "tree" if level==1 else "group" }}"
    {% if level > 1 %} aria-labelledby="tsdlab-{{id}}" {% endif %}>
    {% for item in items %}
      {% set id = "%s.%s" % (id, loop.index) %}
      <li class="section-tree__item" role="none">
        {% if item.etype == "Section" %}
          <div class="section-tree__section">
            <h{{ level }} class="no-style no-style__inline no-style__nobold">
            {% if item.children %}
              <i class="fa pointer fold angle-right {{ "rotate-0" if level==1 else "rotate-90" }}"
                  aria-expanded="false" aria-owns="tsd-{{id}}" role="treeitem"
                  aria-label="{{ item.title | escape }}"
                  tabindex="0"></i>
            {% endif %}
            <a id="tsdlab-{{id}}" href="{{ item.url }}">{{ item.title | escape }}</a>
            </h{{ level }}>
          </div>
        {% else %}
          <h{{ level }} class="no-style no-style__inline no-style__nobold section-tree__leaf">
               <i class="fa doc-bullet"></i>
               <a id="tsdlab-{{id}}" href="{{ item.url }}" role="treeitem">{{ item.title | escape }}</a>
          </h{{ level }}>
        {% endif %}
        {% if item.children %}
          {{ subtree(item.children, level+1, id) }}
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endmacro %}

{% macro toc(summary, _) %}
    <div class="sticky-toc">
        <h1 class="toc-label">{{ _("Toc") }}</h1>
        <div id="tocbox">{{ summary }}</div>
        <ul class="toc-links">
            <li>
                <button class="toggle-menu" data-label-collapse="{{ _('Expand the toc') }}"
                   type="button" aria-controls="tocbox"
                   data-label-expand="{{ _('Collapse the toc') }}">{{ _('Expand the toc') }}
                </button>
            </li>
        </ul>
    </div>
{% endmacro %}


{% macro related_docs(entities, all_links, recent_label, _) %}
<aside class=" col-xl-3 siderelated cards d-print-none">
    <div class="siderelated-container">
    <h1 class="no-style siderelated__header">{{ recent_label }}</h1>
    <div class="card-columns d-xl-none">
        {{ on_front_page(entities, _) }}
        </div>
    <div class="aside-column-cards d-sm-none d-xl-block">
        {{ on_front_page(entities, _) }}
    </div>
    <p>
        <a href="{{ all_links.url }}" class="siderelated__more-content">
            <span class="visually-hidden">{{ all_links.label }}</span>
        </a>
    </p>
    </div>
</aside>
{% endmacro %}



{% macro index_values(main_props, class) %}
<div class="main-properties {%if class %}{{ class }}{% endif %}">
   {% for propname, value in main_props -%}
   <div class="row indexes-values">
       <div class="index-value-title"><h2 class="no-style">{{ propname }}</h2></div>
       {% if value %}
       <p class="index-value-text">{{ value }}</p>
       {% endif %}
   </div>
   {% endfor -%}
</div>
{% endmacro %}

{% macro sharelinks(sharelinks, _) %}
  {% include "sharelinks.jinja2" %}
{% endmacro %}

{% macro translations(links, _) %}
{% if links %}
<div class="translations" class="dropdown">
     <div class="pnia-dropdown-toggle" data-bs-toggle="dropdown" role="button "aria-expanded="false">{{ links[0][0] }}
       <i class="fa fa-angle-down"></i>
     </div>
     <ul class="dropdown-menu">
    {% for name, icon_url, url, title in links[1:] %}
        <li>
            <img src="{{ icon_url }}" />
            <a href="{{ url }}" rel="nofollow" title="{{ _(title) }}">
                <span>{{ name }}</span>
             </a>
        </li>
     {% endfor %}
     </ul>
</div>
{% endif %}
{% endmacro %}

{% macro mirador_viewer(iiif_manifest, data_url, lang) %}
    <div class="mirador-viewer">
      <div id="mirador-container" data-manifest="{{ iiif_manifest }}"  data-lang="{{ lang }}"></div>
    </div>
    <script src="{{ data_url }}bundle-pnia-mirador.js"></script>
{% endmacro %}
