{% if message_error %}
<div class="alert alert-danger">
  <div class="form-message-content-error">{{ message_error }}</div>
</div>

{% endif %}

<div class="form-group{% if contact_email_error %} has-error{% endif %}">
  <label class="control-label" for="email">{{ contact_email_label }}
         <span class="required" title="{{ required_info }}"></span>
  </label>
  {% if contact_email_error %}
    <span class="error text-danger">{{ contact_email_error }}</span>
  {% endif %}
  <div class="input-group">
    <input name="email" id="email" class="form-control" type="text" tabindex="2" aria-required="true" value="{{ email_value }}">
    <span class="input-group-btn">
    <button class="btn btn-primary" name="submit" type="submit" tabindex="5">{{ submit_value }}</button>
    </span>
  </div>
  <div class="form-group captcha">
      <label class="control-label" for="captcha">{{ contact_captcha_label }}
             <span class="required" title="{{ required_info }}"></span>
      </label>
      <input class="form-control" id="captcha" name="captcha" tabindex="5" value="" type="text">      </div>
</div>
