<div class="content-404">
  <p>{{ notfound_msg }}</p>
  <img src="{{ notfound_picture }}" class="img-fluid mx-auto d-block notfound_img"
       alt="" />
</div>

<section id="content-headings" class="search-page-container headings-404">
  <div class="row">
    {% for sectdesc in section_descs %}
      <div class="col-md-3">
        <a href="{{ sectdesc.url }}">
          <span class="heading-item-top">{{ sectdesc.title }}</span>
          {% if sectdesc.label %}
          <span class="heading-item-bottom">{{ sectdesc.label }}</span>
          {% endif %}
        </a>
      </div>
    {% endfor %}
  </div>
</section>