<section id="document" class="{{ entity.cw_etype.lower() }}-view">
  {% block head %}
    <h1>{{ entity.dc_title() }}</h1>
  {% endblock %}
  {% if years %}
    <div class="content-metadata">
        <div class="content-metadata-item">
          <i class="fa fa-calendar-o" aria-hidden="true"></i>
          <span> {{years}}</span>
      </div>
    </div>
  {% else %}
  <div class="empty-content-metadata"></div>
  {% endif %}
  {% for propname, value in main_props %}
  <div class="row indexes-values">
     <div class="col-md-3"><h2 class="no-style">{{ propname }}</h2></div>
     <div class="col-md-9">{{ value }}</div>
  </div>
  {% endfor %}
</section>