{% if search_summary %}
{% if search_summary['context'] or search_summary['summary'] %}
<h2 class="search-section">{{ _('Your search summary:')}}</h2>
<div class="search-summary">
  {% if search_summary['context'] %}
  {% set context = search_summary['context'] %}
  <div class="search-summary-global-search">
    {% if context['query'] %}
    <p class="search-summary__query">
      {{ context['query'] | e}}
    </p>
    {% endif %}
    {% if context.get('section') %}
    <p class="search-summary__es_category">
      {{_("Section")}}{{ _(':') }} <span class="es_category_name">{{ context['section'] |e}}</span>
    </p>
    {% endif %}
    {% if context.get('inventory') %}
    <p class="search-summary__es_category">
      {{_("Publisher")}}{{ _(':') }} <span class="es_category_name">{{ context['inventory'] |e}}</span>
    </p>
    {% endif %}
    {% if search_summary['advanced_query'] %}
      {% for active_facet in search_summary['advanced_query'] %}
      <p>
        <span class="facet-name">
        {{active_facet.name |e}}{{ _(':') }}
        </span>
        <span class="search-summary-facets__facet-values">{{_(active_facet.value) |e}}</span>
      </p>
      {% endfor %}
    {% endif %}
  </div>
  {% endif %}
  {% if search_summary['summary'] %}
  <div class="search-summary-facets">
    {% for active_facet in search_summary['summary'] %}
    <div class="search-summary-facets__facet-name">
      <p class="facet-name">{{active_facet.name |e}}</p>
      <ul class="search-summary-facets__facet-values">
        {% for val, reset_url in active_facet.value %}
        <li>
          <a href="{{ reset_url }}">{{_(val) |e}}<div class="link-info"></div></a>
        </li>
        {% endfor %}
      </ul>
    </div>
    {% endfor %}
  </div>
  <div class="search-summary__clear">
    <a href="{{reset_all_facets_link}}">{{ _('Clear all facets') |e}}</a>
  </div>
  {% endif %}
  <div class="clearfix"></div>
</div>
{% endif %}
{% endif %}
