{% extends "./searchlist.jinja2" %}

{% block context_abstract %}
  <h1>{{ header.title }}</h1>
   <a href="{{ req.build_url('card/tableau-circulaires-fr') }}">
     {{ _('all circular in a table') }}<i class="fa fa-table"></i>
   </a>
{% endblock %}
