<div class="document row">
    <div class="informations-header row">
      <div class="document-title col-sm-9">{{ entity.alink }}</div>

      {% block subtitle %} {% endblock %}
      {% if logo %}
      <div class="informations-content-logo col-sm-3 picto">
          <img class="img-fluid"
            src="{{ logo.src | escape }}"
            data-defaultsrc="{{ logo.srcs }}"
            alt="{{ _("Service")}}: {{ logo.alt | escape }}"
          />
      </div>
      {% endif %}
    </div>
    <div class="informations-content row">
      {% if illustration %}
      <div class="informations-content-image col-md-3 col-sm-8">
        <a href="{{ entity.url }}"
          class="picto" tabindex="-1"
          aria-hidden="true">
          <img class="img-fluid"
            src="{{ illustration.src | escape }}"
            data-defaultsrc="{{ illustration.srcs }}"
            alt="{{ illustration.alt | escape }}"
          />
        </a>
        {%- if iiif_logo %}
          <img src="{{ iiif_logo.src }}" alt="iiif_logo.alt" width="24" height="24">
        {% endif -%}
      </div>
      {% endif %}
      <div class="informations-content-text {% if not illustration %}offset-md-3 {% endif%}col-md-9 col-sm-12">

        {% block itemprops_top %}
        {% from "./mixins.jinja2" import itemprops %}
          {{ itemprops(item_properties["top"], _) }}
        {% endblock %}

        {% if highlights %}
        <div class="document-excerpt-container row">
          <div class="document-excerpt col-sm-12 col-md-4">{{ highlights_label }}</div>
          <blockquote class="document-excerpt__text col-sm-11 col-md-8">
          {% for value in highlights %}
            <p>…{{ value }}…</p>
           {% endfor %}
           </blockquote>
        </div>
        {% endif %}

        {% block itemprops_bottom %}
        {% from "./mixins.jinja2" import itemprops %}
          {{ itemprops(item_properties["bottom"], _) }}
        {% endblock %}
        {%- block extra %}
        {% endblock -%}

      </div>
    </div>
 </div>
