{% extends "./searchlist.jinja2" %}


{% block result_title %}
  {{ super() }}
  <h3 class="sr-title sr-title--circular">
    <a href="{{ req.build_url('card/tableau-circulaires-fr') }}">
    {{ _('all circular in a table') }}
    </a>
  </h3>
{% endblock %}
