<div class="authority row">
    <div class="informations-header row">
      <div class="document-title col-sm-9">{{ entity.alink }}</div>
      {% block subtitle %} {% endblock %}
      </div>
 </div>
