<section class="document-view">
{% macro sitetree(items, level) %}
  <ul>
    {% for item in items %}
      <li class="{{"sitemap-section" if item.etype == 'Section' else "sitemap-document"}}">
      {% if item.etype == 'Section' %}
          <i class="caret-sitemap pointer fa fold fa-caret-right {{ "rotate-90" if item.children else "rotate-0" }}"></i>

      {% endif %}
        <h{{ level }} class="no-style no-style__inline no-style__nobold">
        <a href="{{ item.url }}">{{item.title}}</a>
        </h{{ level }}>
        {% if item.children %}
          {{ sitetree(item.children, level+1) }}
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endmacro %}


<h1>{{ title }}</h1>
<div id="tree-container">
  {{ sitetree(sections, 1) }}
</div>
</section>