<section id="document" class="{{ entity.cw_etype.lower() }}-view">
  {% block head %}
    <h1>{{ entity.dc_title()}} </h1>
  {% endblock %}
  {% if content_meta %}
    <div class="content-metadata">
       {% for data, icon in content_meta %}
         <p class="content-metadata-item">
            <i class="fa fa-{{ icon }}" aria-hidden="true"></i>
            <span> {{ data }} </span>
         </p>
       {% endfor %}
    </div>
  {% else %}
    <div class="empty-content-metadata"></div>
  {% endif %}
  {% if main_props %}
  {% for propname, value in main_props %}
  <div class="row indexes-values">
     <div class="col-md-3"><h2 class="no-style">{{ propname }}</h2></div>
     <div class="col-md-9">{{ value }}</div>
  </div>
  {% endfor %}
  {% else %}
    <div>{{  entity.description }}</div>
  {% endif %}
</section>