{% from "./mixins.jinja2" import imagelist, content_metadata, index_values, sharelinks, translations, modalfaq, related_docs -%}
<div class="row article-page-container">
    <div class="{% if entities -%}col-xl-6 {% else -%} col-xl-9 {% endif -%}article-content">
        <article id="article" class="{{ entity.cw_etype|lower }}-view">
            <h1><span class="visually-hidden">{{ _(entity.__regid__) }} : </span>{{ entity.title | e }}</h1>
            {{  sharelinks(sharelinks_data, _) }}
            {{ content_metadata(metadata, _) }}
            <div class="article__content">
                {{ imagelist(images, default_picto_src) }}
                {{ entity.printable_value('content') }}
            </div>
            {% if website_url -%}
            <div class="article-buttons-wrapper">
                <a class="blue-button" href="{{ website_url }}"
                    target="_blank" rel="nofollow noopener noreferrer"
                    title="{{ _("Consult the virtual exhibits") }} {{ _("- New window") }}">
                     {{ _("Consult the virtual exhibits") }}
                     <i class="fa fa-external-link" aria-hidden="true"></i>
                 </a>
            </div>
           {% endif -%}
         </article>
         {% if main_props |e -%}
           {{ index_values(main_props) }}
         {% endif-%}
    </div>
    {% if entities -%}
       {{ related_docs(entities, all_links, recent_label, _) }}
    {% endif -%}
</div>