ok<script type="text/javascript">
<!--

xtnv = document;
xtsd = "https://logs";
xtsite = "{{ xiti.site }}";
xtn2 = "";
xtpage = "{{ xiti.pagename }}";
xtdi = "";
xt_multc = "";
xt_at = "";
xt_ac = "";

if (window.xtparam != null) {
  window.xtparam += "&ac=" + xt_ac + "&at=" + xt_at + xt_multc;
}
else {
  window.xtparam = "&ac=" + xt_ac + "&at=" + xt_at + xt_multc;
};
//-->

</script>

<script type="text/javascript" src="{{ data_url }}xtcore.js"></script>
<noscript>
  <img width="1" height="1" alt="" src="https://logs.xiti.com/hit.xiti?s={{ xiti.site }}&s2=&p=&di=&at=&ac=" >
</noscript>
